---
title: Catalogues
layout: layout-pane.njk
catalogue_page: true
catalogue_name: technology_applications_catalogue
aliases: asset, event, register, chatbot, consultation, document, gis, identity, information, mobile, notification, service catalogue
---

Applications have been classified according to [TOGAF III-RM](https://pubs.opengroup.org/architecture/togaf8-doc/arch/chap22.html).

## Business applications

- [Information consumer applications](/catalogues/information-consumer-applications)
- [Brokering applications](/catalogues/brokering-applications)
- [Information provider applications](/catalogues/information-provider-applications)

## Infrastructure applications

- [Development tools](/catalogues/development-tools)
- [Management utilities](/catalogues/management-utilities)

## Application platform

- [Software Engineering Services](/catalogues/software-engineering-services)
- [Location and Directory Services](/catalogues/location-and-directory-services)
- [Security Services](/catalogues/security-services)
- [Human Interaction](/catalogues/human-interaction-services)
- [Data Interchange Services](/catalogues/data-interchange-services)
- [Data Management Services](/catalogues/data-management-services)
