---
title: Catalogues
layout: layout-pane.njk
catalogue_page: true
catalogue_name: technology_applications_catalogue
aliases: asset, event, register, chatbot, consultation, document, gis, identity, information, mobile, notification, service catalogue
---

Applications and technologies have been classified according to a tailored version of [TOGAF III-RM](https://pubs.opengroup.org/architecture/togaf8-doc/arch/chap22.html).

<img src="/images/ea-trm.png"
  alt="image technical reference model"
  style="border: none">
