---
layout: layout-pane.njk
title: Governance
description:  Governance
show_subnav: true
---

The goal of architecture governance is to ensure that the designs that we create and the solutions that we build and implement are aligned with our architecture direction and therefore help us implement our wider business and technical strategies. When we follow architecture governance, the quality it ensures in our design and build process will help us to:

- increase the quality of our customer experiences
- drive systems rationalisation
- reduce unnecessary duplication and increase re-use
- reduce costs
- provide opportunities to bid for work that we are not in the position to do at the momenent

Architecture governance also encourages best practice and decision making in the right place. With many people making decisions in design and development it is vital that we have a consistent view of what conformance means, or put another way, a common view of what we mean by good design and good design practice.

Recording architecture alignment and the level of conformance enables us to identify how well we are implementing our architecture strategy and are using our change resources and capital to transform our organisation efficiently and effectively.

The process that reviews each new or changed solution developed through our change projects ensuring that they conform to our context, directives and architecture views. Teams to address architecture issues in-line as they arise with support available from domain and enterprise architects when needed. Projects will only be allowed to progress to the detailed design and build stage once they have been architecturally reviewed and proved to be conformant or to be been given a dispensation.

In this document:

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Section</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/governance/governance-process">Governance process</a>
      </td>
      <td class="govuk-table__cell">
        How we ensure architecture alignment
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/governance/governance-roles">Governance roles</a>
      </td>
      <td class="govuk-table__cell">
        Who is involved and what roles are played
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/governance/compliance-reviews">Compliance reviews</a>
      </td>
      <td class="govuk-table__cell">
        Structure and contect of compliance reviews
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/governance/dispensation">Dispensation</a>
      </td>
      <td class="govuk-table__cell">
        When non-compliance is regarded as acceptable
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/governance/reporting">Reporting</a>
      </td>
      <td class="govuk-table__cell">
        What gets reported on
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/governance/escalation">Escalation</a>
      </td>
      <td class="govuk-table__cell">
        What happens when a solution is deemed non-compliant
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/governance/how-to-engage-with-ea">How to engage with EA</a>
      </td>
      <td class="govuk-table__cell">
        How to initiate the formal governance process
      </td>
    </tr>
  </tbody>
</table>
