---
title: Escalation
description: Escalation
section: Governance
aliases: itda, governance, dispensation, conformance, compliance
layout: layout-pane.njk
order: 7
---

ITDA will act as the escalation point for the Architecture Governance Board.

ITDA will typically deal with <a class="govuk-link" href="/governance/dispensation">dispensations</a> and non-conformance issues identified by the Architecture Board.
