---
title: Escalation
description: Escalation
section: Governance
aliases: itda, governance, dispensation, conformance, compliance
layout: layout-pane.njk
order: 6
---

ITDA will act as the escalation point for the Architecture Governance Board.

ITDA will typically deal with <a class="govuk-link" href="/governance/dispensation">dispensations</a> and non-conformance issues identified by the Architecture Board.

ITDA may also have to consider two other options in the event of non-conformance:

1. A review and possible update of the <a class="govuk-link" href="/directives/principles">Architecture Principles</a>
2. A review and possible amendment to the Reference Architecture (<a class="govuk-link" href="/abbs">ABBs</a>, <a class="govuk-link" href="/sbbs">SBBs</a>)
