---
title: Drupal Service Catalogue
description: Drupal Service Catalogue
section: Catalogues
theme: Information Provider Applications
aliases: Drupal Service Catalogue, service catalgoue
layout: layout-pane.njk
---

## Supported functionality

- Browse catalogue entries
- Search catalogue
- Create, amend, remove entries from the catalogue

## Required attributes (non-functional requirements)

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Attribute</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Requirement</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Performance</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Availability</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Recoverability</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Reliability</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Integrity</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Scalability</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Security</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Serviceability</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Usablity</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Portability</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Interoperability</td>
      <td class="govuk-table__cell">tbd</td>
    </tr>
  </tbody>
</table>

## Interfaces

- search API
- CRUD UI
- catalogue storage

## Related SBBs

- [Drupal v8](/sbbs/09-application-software-products/#drupal-v8)
- [SOLR](/sbbs/09-application-software-products/#solr)
