---
title: Location and Directory Services
description: Location and Directory Services
section: catalogues
theme: Application platform
aliases: name, location, description, relationship
layout: layout-pane.njk
order: 33
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Location and Directory Services
---

Location and directory services provide access facilities for name, location, description, and relationship data that describes the integrated information infrastructure.

{% include "_catalogue.njk" %}
