---
title: Technology platforms
description: Technology platforms
section: SBBs
theme: Technology Architecture
aliases: finance, notifications, platform, HR, cloud, web content, private cloud, public cloud, SQL
layout: layout-pane.njk
order: 16
---

[Technology Platforms catalogue](/catalogues/technology-platforms)
