---
title: Technology platforms
description: Technology platforms
section: Solution Building Blocks
theme: Technology Architecture
aliases: Technology platforms
layout: layout-pane.njk
order: 16
---

In this document:

- <a class="govuk-link" href="#govuk-paas">GOV.UK PaaS</a>

<h2 id="govuk-paas">GOV.UK Platform as a Service</h2>

This Plaform as a Service offers UK-based web hosting for Government services. It facilitates the deployment of applications without the need for infrastructure specialists. The platform is scalable, resilient and secure and is supported 24 hours a day, 7 days a week.

### Location

Amazon Web Services (AWS) UK data centres.

### Features

<a class="govuk-link" href="https://cloud.service.gov.uk/features">GOV.UK PaaS features</a>

### Information assurance

<a class="govuk-link" href="https://www.cloud.service.gov.uk/ia">GOV.UK PaaS information assurance</a>

### Security

<a class="govuk-link" href="https://www.cloud.service.gov.uk/security">GOV.UK PaaS security</a>

### Contract / MOU

DSS has established an Memorandum of Understanding (MOU) with the UK Cabinet Office to consume the service.

### Support

<a class="govuk-link" href="https://www.cloud.service.gov.uk/support-and-response-times">GOV.UK PaaS support and response times</a>

### Cost

The cost model is Pay As You Go, i.e. it is a revenue based cost model. Billing will be monthly, quarterly or annually depending upon the rate and size of service consumption.

<a class="govuk-link" href="https://www.cloud.service.gov.uk/pricing">GOV.UK PaaS pricing</a>

### Roadmap

<a class="govuk-link" href="https://www.cloud.service.gov.uk/roadmap">GOV.UK PaaS roadmap</a>

### Predicted life span

The life span of this platform is not known. However, the platform is currently undergoing development and growth and features are being planned at least 1 year in advance.
