---
title: Skills profiles
description: Skills profiles
section: Skills and training
aliases: skills
layout: layout-pane.njk
order: 3
---

An architect needs specific technical skills, some of which are essential and others desirable. Each skill has one of four skill levels associated with it:

- Expert
- Practitioner
- Working
- Awareness

The combination of [skills](/skills/architect-skills) and skill levels can be used to profile a number of architect roles as follows:

- [Principal architect](#principal-architect)
- [Lead architect](#lead-architect)
- [Senior architect](#senior-architect)
- [Architect](#architect)
- [Associate architect](#associate-architect)

<h3 id="principal-architect">Principal Architect</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Skill</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Bridging the gap between the technical and non-technical
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Making and guiding decisions
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Turning business problems into technical design
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Understanding the whole context
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Governance
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Stategy
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
  </tbody>
</table>

<h3 id="lead-architect">Lead Architect</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Skill</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Bridging the gap between the technical and non-technical
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Making and guiding decisions
      </td>
      <td class="govuk-table__cell">
        Practitioner
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Turning business problems into technical design
      </td>
      <td class="govuk-table__cell">
        Expert
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Understanding the whole context
      </td>
      <td class="govuk-table__cell">
        Practitioner
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Governance
      </td>
      <td class="govuk-table__cell">
        Practitioner
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Stategy
      </td>
      <td class="govuk-table__cell">
        Practitioner
      </td>
    </tr>
  </tbody>
</table>

<h3 id="senior-architect">Senior Architect</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Skill</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Bridging the gap between the technical and non-technical
      </td>
      <td class="govuk-table__cell">
        Practitioner
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Making and guiding decisions
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Turning business problems into technical design
      </td>
      <td class="govuk-table__cell">
        Practitioner
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Understanding the whole context
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Governance
      </td>
      <td class="govuk-table__cell">
        Practitioner
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Stategy
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
  </tbody>
</table>

<h3 id="architect">Architect</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Skill</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Bridging the gap between the technical and non-technical
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Making and guiding decisions
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Turning business problems into technical design
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Understanding the whole context
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Governance
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Stategy
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
  </tbody>
</table>

<h3 id="associate-architect">Associate Architect</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Skill</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Bridging the gap between the technical and non-technical
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Making and guiding decisions
      </td>
      <td class="govuk-table__cell">
        Awareness
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Turning business problems into technical design
      </td>
      <td class="govuk-table__cell">
        Working
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Understanding the whole context
      </td>
      <td class="govuk-table__cell">
        Awareness
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Governance
      </td>
      <td class="govuk-table__cell">
        Awareness
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Stategy
      </td>
      <td class="govuk-table__cell">
        Awareness
      </td>
    </tr>
  </tbody>
</table>

These roles have not been formally mapped to NICS ICT grades at at this point in time. However, it is generally accepted that entrance into the architecture profession (at associate level) would require the skills and experience associated with ICT Level 5 (SFIA Level 5).
