{% if entries.length > 0 %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Physical Component</th>
      <th scope="col" class="govuk-table__header">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for entry in entries|sort(false, false, 'name') %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {% if entry.href %}
          <a class="govuk-link" href="{{ entry.href }}">{{ entry.name }}</a>
        {% else %}
          {{ entry.name }}
        {% endif %}
      </td>
      <td class="govuk-table__cell">{{ entry.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
There are no entries in this section of the catalogue.
{% endif %}
