<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">Need help?</h2>

  <p class="govuk-body app-contact-panel__body">
    If you’ve got a question about the NICS Architecture you can contact the team:
  </p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
    <li class="govuk-!-margin-bottom-0">
      by email at
      <a class="govuk-link app-contact-panel__link" href="mailto:ea-team@ea@finance-ni.gov.uk" data-hsupport="email">
        ea-team@ea.finance-ni.gov.uk
      </a>.
    </li>
  </ul>
</div>
