
<div class="app-cookie-banner js-cookie-banner">
  <p class="govuk-width-container">Digital Shared Services (NICS) uses cookies to make the site simpler. <a href="/cookies" class="govuk-link">Find out more about cookies</a></p>
</div>
