{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  "classes": "app-footer app-footer--full",
  "containerClasses" : "app-site-width-container",
  "navigation": [
    {
      "title": "Related resources",
      "columns": 1,
      "items": [
        {
          "href": "https://nics-ea-principles.london.cloudapps.digital/",
          "text": "NICS EA Principles"
        }
      ]
    }
  ],
  "meta": {
    "items": [
      {
        "href": "/accessibility",
        "text": "Accessibility"
      },
      {
        "href": "/sitemap",
        "text": "Sitemap"
      },
      {
        "href": "/cookies",
        "text": "Cookies"
      },
      {
        "href": "/privacy-policy",
        "text": "Privacy policy"
      },{
          "href": "https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/",
          "text": "© Crown copyright"
        }
    ]
  }
}) }}
