<div class="app-masthead">
  <div class="govuk-width-container app-site-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-masthead__title">Design your service using standard components, patterns and approaches</h1>
            <p class="app-masthead__description">
              Manage change, optimise cost and value, improve quality and satisfaction and reduce lead time by leveraging the assets we have already invested in.
            </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <img style="width: 100%" src="/images/banner-image.png" alt="Image of mobile dvice and abstract services" role="presentation">
        </div>
    </div>
  </div>
</div>
