<div class="app-masthead">
  <div class="govuk-width-container app-site-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-masthead__title">Design your service using standard components, patterns and approaches</h1>
            <p class="app-masthead__description">Manage change, optimise cost and value, improve quality and satisfaction and reduce lead time by leveraging the assets we have already invested in.</p>
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              "text": "Get started",
              "href": "/get-started",
              "classes": "app-button--inverted govuk-!-margin-top-6 govuk-!-margin-bottom-0",
              "isStartButton": "true"
            }) }}
        </div>
    </div>
  </div>
</div>
