---
title: Logical data components
description: Logical data components
section: Architecture Building Blocks
theme: Data Architecture
aliases: data
layout: layout-pane.njk
order: 14
---

List of logical data components
