---
title: Data and information patterns
description: Data and information patterns
section: ABBs
theme: Data Architecture
aliases: data, information, pattern
layout: layout-pane.njk
order: 14
---

List of data and information patterns
