---
title: Software as a Service
description: Software as a Service
section: catalogues
theme: Technology platforms
aliases: cloud software, customisation, configuration only
layout: layout-pane.njk
order: 43
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Software as a Service
---

In this model services are provided in ready-made form with some customisation permitted through configuration only.

{% include "_catalogue.njk" %}
