---
title: Platform services
description: Platform services
section: ABBs
theme: Technology Architecture
aliases: taxonomy, graphics, video, audio, multimedia, DBMS, warehouse, file, deployment, scaling, resilience, backup, security, continuous, CI, CD, mail, video, time, print, OS, batch, command line, programming, scripting, UI, code, identity, access, authorisation, encryption, scale, auto-scale, storage, capacity, availability, resilience, deployment
layout: layout-pane.njk
order: 21
---

The TOGAF Application Platform taxonomy has been used and tailored to categorise services for the application platform.

It is important to recognize that the Application Platform in the TOGAF Technical Reference Model is a single, generic, conceptual entity. From the viewpoint of the TOGAF TRM, the Application Platform contains all possible services.

In a specific target architecture, the Application Platform will contain only those services needed to support the required functions.

- <a class="govuk-link" href="#data-interchange-services">Data Exchange Services</a>
- <a class="govuk-link" href="#data-management-services">Data Management Services</a>
- <a class="govuk-link" href="#graphics-and-imaging-services">Graphics and Imaging Services</a>
- <a class="govuk-link" href="#international-operation-services">International Operation Services</a>
- <a class="govuk-link" href="#location-and-directory-services">Location and Directory Services</a>
- <a class="govuk-link" href="#network-services">Network Services</a>
- <a class="govuk-link" href="#operating-system-services">Operating System Services</a>
- <a class="govuk-link" href="#software-engineering-services">Software Engineering Services</a>
- <a class="govuk-link" href="#transaction-processing-services">Transaction Processing Services</a>
- <a class="govuk-link" href="#user-interface-services">User Interface Services</a>
- <a class="govuk-link" href="#security-services">Security Services</a>
- <a class="govuk-link" href="#systems-and-network-services">Systems and Network Services</a>

<h2 id="data-interchange-services">Data Exchange Services</h2>

- Document generic data typing and conversion services
- Graphics data exchange services
- Specialized data exchange services
- Electronic data exchange services
- Raw graphics interface functions
- Text processing functions
- Document processing functions
- Publishing functions
- Video processing functions
- Audio processing functions
- Multimedia processing functions
- Media synchronisation functions
- Information presentation and distribution functions
- Hypertext functions

<h2 id="data-management-services">Data Management Services</h2>

- Data dictionary/repository services
- Database management system (DBMS) services
- Object Oriented Database Management System services
- File management services
- Query processing functions
- Screen generation functions
- Report generation functions
- Networking/concurrent access functions
- Warehousing functions

<h2 id="graphics-and-imaging-services">Graphics and Imaging Services</h2>

- Graphical object management services
- Drawing services
- Imaging functions

<h2 id="international-operation-services">International Operation Services</h2>

- Character sets and data representation services
- Local language support services

<h2 id="location-and-directory-services">Location and Directory Services</h2>

- Directory Services
- Special Purpose Naming Services
- Service Location Services
- Registration Services
- Filtering Services
- Accounting Services

<h2 id="network-services">Network Services</h2>

- Data communications services
- Electronic Mail services
- Enhanced telephony functions
- Shared screen functions
- Video conferencing functions
- Broadcast functions
- Mailing list functions
- Distributed time services
- Distributed data services
- Distributed file services
- Distributed name services
- Remote process (access) services
- Remote print spooling and output distribution services

<h2 id="operating-system-services">Operating System Services</h2>

- Kernel operations services
- Command interpreter and utility services
- Batch processing services
- File and directory synchronization services

<h2 id="software-engineering-services">Software Engineering Services</h2>

- Programming language services
- Object code linking services
- Computer Aided Software Engineering (CASE) environment and tools services
- Graphical User Interface (GUI) building services
- Scripting language services
- Run Time Environment services
- Application Binary Interface services
- CI/CD services

<h2 id="transaction-processing-services">Transaction Processing Services</h2>

- Transaction manager services

<h2 id="user-interface-services">User Interface Services</h2>

- Graphical client-server services
- Display objects services
- Window management services
- Dialogue support services
- Printing services
- Computer-based training and on-line help services
- Character-based services

<h2 id="security-services">Security Services</h2>

- Identification and authentication services
- System entry control services
- Audit services
- Access control services
- Non-repudiation services
- Security management services
- Trusted recovery services
- Encryption services
- Trusted communication services

<h2 id="system-and-network-managment-services">Systems and Network Management Services</h2>

- User management services
- Configuration management services
- Performance management services (scaling, auto-scaling)
- Availability and fault management services (fail-over)
- Accounting management services
- Security management services
- Print management services
- Network management services
- Backup and restore services
- Storage management services
- License management services
- Capacity management services
- Deployment services (CI/CD)
- Administration services
- Support services
