---
title: Logical application components
description: Logical application components
section: Architecture Building Blocks
theme: Application Architecture
aliases: technology
layout: layout-pane.njk
order: 3
---

List of logical application components
