---
title: Best practices
description: Best practices
section: Directives
aliases: best practices
layout: layout-pane.njk
order: 6
---

The following are considered best practice approaches in each specific area:

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Specialist area</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Best practice</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Enterprise Architecture
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.opengroup.org/togaf">The Open Group Architecture Framework
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Software Devolopment</a>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://agilemanifesto.org">The Agile Manifesto</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Project Management
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.axelos.com/best-practice-solutions/prince2">PRINCE2</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Programme Management
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.axelos.com/best-practice-solutions/msp">MSP</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Risk Management
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.axelos.com/best-practice-solutions/mor">MoR</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Programme and Portfolio Management
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.axelos.com/best-practice-solutions/p3o">P3O</a>
      </td>
    </tr>
  </tbody>
</table>
