---
title: Storage management utilities
description: Storage management utilities
section: catalogues
theme: Infrastructure applications
aliases: data, information, storage, persistance, document storage, RDBS, database, file, cloud, structured, non-structured
layout: layout-pane.njk
order: 24
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Storage Management Utilities
---

Storage Management Utilities provide the means to persist information in a data store.

{% include "_catalogue.njk" %}
