---
title: Office automation
description: Office automation
section: Catalogues
theme: Infrastructure applications
aliases:
layout: layout-pane.njk
order: 5
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Office Automation
---

Office automation applications facilitate the creation, storage, manipulation and relay of office information needed for accomplishing basic tasks. 

{% include "_catalogue.njk" %}
