---
title: Standards
description: Standards
section: Directives
aliases: standards
layout: layout-pane.njk
order: 5
---

Standards are a widely accepted measure or set of qualities that is intended to increase uniformity bewtween distinct systems and processes.

### Key standards

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Number</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Context</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.iso.org/standard/50508.html">ISO/IEC 42010:2011</a>
      </td>
      <td class="govuk-table__cell">
        Systems and software engineering - architecture description
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.iso.org/isoiec-27001-information-security.html">ISO/IEC 27001</a>
      </td>
      <td class="govuk-table__cell">
        Information Security Management Systems
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.iso.org/standard/51986.html">ISO 20000</a>
      </td>
      <td class="govuk-table__cell">
        Information technology service management
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.iso.org/iso-9001-quality-management.html">ISO 9000</a>
      </td>
      <td class="govuk-table__cell">
        Quality management system
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.iso.org/standard/62816.html">ISO 38500</a>
      </td>
      <td class="govuk-table__cell">
        Governance of IT for the organisation
      </td>
    </tr>
  </tbody>
  </tbody>
</table>

### Standards bodies

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Abbreviation</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.ansi.org">ANSI</a>
      </td>
      <td class="govuk-table__cell">
        American National Standards Insititute
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.iso.org/member/2064.html">BSI</a>
      </td>
      <td class="govuk-table__cell">
        British Standards Insititute
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.ieee.org">IEEE</a>
      </td>
      <td class="govuk-table__cell">
        Insititute of Electrical and Electronic Engineers
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.isaca.org">ISACA</a>
      </td>
      <td class="govuk-table__cell">
        Information Systems Audit and Control Association
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.omg.org">OMG</a>
      </td>
      <td class="govuk-table__cell">
        The Object Management Groupd
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.opengroup.org">TOG</a>
      </td>
      <td class="govuk-table__cell">
        The Open Group
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.sei.cmu.edu">SEI</a>
      </td>
      <td class="govuk-table__cell">
        Software Engineering Insititute
      </td>
    </tr>
  </tbody>
</table>
