---
title: Policies
description: Policies
section: Directives
aliases: mobile, device, password
layout: layout-pane.njk
order: 2
---

A tactical directive that derives from objectives. A tool used in the governance of day-to-day work. It guides behaviour that the organisation expects will lead to desired outcomes.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Policy</th>
      <th scope="col" class="govuk-table__header">Document reference number or link</th>
    </tr>
  </thead>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">DoF Records Management Policy 2019-2022</td>
    <td class="govuk-table__cell">FI1/19/1285913</td>
  </tr>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">NICS Mobile Device Security Policy v1.3</td>
      <td class="govuk-table__cell">FI1/18/39104</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">NICS Password Policy v1.1</td>
      <td class="govuk-table__cell">FI1/18/741409</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">UK Open Standards Policy</td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.gov.uk/government/publications/open-standards-principles/open-standards-principles"</a>Open Standards Principles</a>
      </td>
    </tr>
  </tbody>
</table>
