---
title: Data Management Services
description: Data Management Services
section: catalogues
theme: Application platform
aliases:
layout: layout-pane.njk
order: 14
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Data Management Services
---

Data Management Services provide ability to access, transform, aggregate and search information.

{% include "_catalogue.njk" %}
