---
title: Vision
description: Vision
section: Context
aliases: vision
layout: layout-pane.njk
order: 3
---

<p class="govuk-body-l govuk-!-font-weight-bold">
  &quot;To make Northern Ireland an exemplar for digital shared services&quot;
</p>
