---
title: Governance process
description: Governance process
section: Governance
aliases: governance process, scope, compliance, criteria, report, gate
layout: layout-pane.njk
order: 1
---

The governance process is designed to be as supportive and light touch as possible so that teams are helped to deliver solutions that comply with the Enterprise Architecture (EA) and operate in an agile manner within the guidelines laid down.

The diagram below provides an overview of how the enterprise architecture conformance cycle fits with other governance processes in the organisation. There are 4 quality gates in this process. A [more detailed view](/governance/governance-process/process-detail) is also available.


<a href="/governance/governance-process/process-detail">
  <img src="/images/ea-governance-sm.svg"
    alt="mage of architecture governance process depicting roles and steps in the process"
    style="border: none">
</a>

## EA Gate 1

When an idea or opportunity has been identified by a business area (which may be driven by a technology requirement) a [Solution Architect](/governance/governance-roles/#solution-architect) will be asked to develop an initial architectural view. An [Enterprise Architect](/governance/governance-roles/#enterprise-architect) will assess this initial view to determine if it requires formal architecture governance.

## EA Gate 2

The Solution Architect will develop a high level solution architecture (which will include options and a recommenation). This will inform the creation of an outline business case and help create a list of requirements for inclusion in a tender specification (should procurement be the recommended option).

The Enterprise Architect will check that the proposed solution aligns with the NICS architecture by undertaking a compliance review. The Enterprise Architect will work with the project team to resolve any minor issues before the proposed solution will be considered by the [Architecture Board](/governance/governance-roles/#architecture-board). If the Architecture Board is content the project will proceed to the delivery stage. If the Architecture Board rejects the proposal it will escalate to ITDA for consideration.

ITDA may endorse the Architecture Board's decision or may issue a dispensation allowing the project to proceed. ITDA may also consider that NICS architecture needs to be modified, which could result in the addition or modification of building blocks or even the modification of architecture principles.

## EA Gate 3

An Enterprise Architect will check that the build and implementation continues to align with the NICS architecture. A futher review by the Architecture Board will be undertaken before the proposed solution proceeds to operational status. Once again the Architecture Board will refer any major deviations from the NICS architecture to [ITDA](/governance/governance-roles/#itda) if required.

## EA Gate 4

The effectiveness of architecutural decisions will be reviewed and learning points captured. If necessary changes to the architecture may be recommended and further projects inititated.
