---
title: Governance process
description: Governance process
section: Governance
aliases: governance
layout: layout-pane.njk
order: 1
---

![alt-text](./architecture-governance-process.png "Architecture Governance Process")

This consists of 10 steps as follows:
|Step| Action                            | Notes                                 | Role(s) |
|--- | --------                          | --------                              | ---- |
|1   | Request an Enterprise Architect   | When commencing some work             | Delivery Manager |
|2   | Assign Enterprise Architect       | Assign Enterprise Architect and identify other architects (e.g. security, solution or technical architects) to collaborate with     | Lead Enterprise Architect, Architecture Review Co-ordinator |
|3   | Determine scope                   | Identify which other departments are involved.   Understand the aims and intended outcomes of the work being reviewed.  Understand where the system(s) fit into the existing architecture | Enterprise Architect |
|4   | Tailor Criteria                   | To address the business requirements and reflect the current progress of the work effort  | Enterprise Architect |
|5   | Schedule Architecture Review      | Maximise collaboration between Enterprise Architecture and delivery team| Delivery Manager, Architecture Review Co-ordinator |
|6   | Seek support as needed            | Ongoing collaboration between Enterprise Architecture and delivery team | Enterprise Architect, Lead Developer, Delivery Manager |
|7   | Prepare Architecture Report | Review completed checklists against tailored criteria.  Identify and resolve issues. | Delivery Manager, assisted by Enterprise Architect, Lead Developer |
|8   | Present Architecture Report       | To Architecture Board                  | Delivery Manager, assisted by Enterprise Architect, Lead Developer |
|9   | Determine Outcome                 | Either proceed, proceed addressing conditions, or issue dispensation  | Lead Enterprise Architect |
|10  | Store Report and Outcome          | In Enterprise Architecture Repository  | Architecture Review Co-ordinator |

The governance process is designed to be as supportive and light touch as possible so that teams are helped to deliver solutions that comply with the Enterprise blueprints and operate in an agile manner within the guidelines laid down.
 
