---
title: Governance process
description: Governance process
section: Governance
aliases: governance
layout: layout-pane.njk
order: 1
---

![alt-text](./architecture-governance-process.png "Architecture Governance Process")

This consists of 10 steps as follows:
|Step| Action                            | Notes                                 | Role(s) |
|--- | --------                          | --------                              | ---- |
|1   | Request an Enterprise Architect   | When commencing some work             | Delivery Manager |
|2   | Assign Enterprise Architect       | Assign Enterprise Architect and identify other architects (e.g. security, solution or technical architects) to collaborate with     | Lead Enterprise Architect, Architecture Review Co-ordinator |
|3   | Determine scope                   | Identify which other departments are involved.   Understand the aims and intended outcomes of the work being reviewed.  Understand where the system(s) fit into the existing architecture | Enterprise Architect |
|4   | Tailor Criteria                   | To address the business requirements and reflect the current progress of the work effort  | Enterprise Architect |
|5   | Schedule Architecture Review      | Maximise collaboration between Enterprise Architecture and delivery team| Delivery Manager, Architecture Review Co-ordinator, Enterprise Architect |
|6   | Seek support as needed            | To get background and technical information | Enterprise Architect, Lead Developer, Delivery Manager |
|7   | Prepare Architecture Compliance Review Report | Review completed checklists against tailored criteria.  Identify and resolve issues. | Delivery Manager, Enterprise Architect |
|8   | Present Review Report             | To Architecture Board                  | Enterprise Architect, Lead Developer, Delivery Manager |
|9   | Determine Outcome                 | Either proceed, proceed addressing conditions, or obtain dispensation/exception | Lead Enterprise Architect |
|10  | Store Report and Outcome          | In Enterprise Architecture Repository  | Architecture Review Co-ordinator |

