---
title: Governance process detail
description: Governance process detail
section: Governance
aliases: governance process, scope, compliance, criteria, report, gate
layout: layout-single-page.njk
---

<h2 class="govuk-heading-m">NICS EA Governance Process</h2>

<p class="govuk-body">
  The diagram below shows how the enterprise architecture conformance cycle fits with other governance processes in the organisation.
</p>

<img src="/images/ea-governance-lg.svg"
  alt="mage of architecture governance process depicting roles and steps in the process"
  style="border: none; width: 100%">
