---
title: Logical data components
description: Logical data components
section: ABBs
theme: Data Architecture
aliases: logical data components
layout: layout-pane.njk
order: 13
---

Logical data components are normally modelled as entity-relationship diagrams, consisting of:

- entities
- attributes
- relationships
