---
title: Data and information patterns
description: Data and information patterns
section: Architecture Building Blocks
theme: Data Architecture
aliases: patterns
layout: layout-pane.njk
order: 13
---

List of data and information patterns
