---
title: Logical data components
description: Logical data components
section: ABBs
theme: Data Architecture
aliases: logical data components
layout: layout-pane.njk
order: 13
---

List of logical data components
