---
title: Physical Application Components
description: Physical Application Components
section: SBBs
theme: Application Architecture
aliases: Drupal Service Catalogue, service catalgoue
layout: layout-pane.njk
order: 8
---

<h2 id="drupal-service-catalogue">Drupal Service Catalogue</h2>

### Supported functionality

- Browse catalogue entries
- Search catalogue
- Create, amend, remove entries from the catalogue

### Required attributes (non-functional requirements)

#### Performance

tbd

#### Availability

tbd

#### Recoverability

tbd

#### Reliability

tbd

#### Integrity

tbd

#### Scalability

tbd

#### Security

tbd

#### Serviceability

tbd

#### Usability

tbd

#### Portability

tbd

#### Interoperability

tbd

### Interfaces

- search API
- CRUD UI
- catalogue storage

### Related SBBs

- [Drupal v8](/sbbs/09-application-software-products/#drupal-v8)
- [SOLR](/sbbs/09-application-software-products/#solr)
