---
title: Physical Components
description: Physical Components
section: Solution Building Blocks
theme: Application Architecture
aliases: Physical Components
layout: layout-pane.njk
order: 8
---

List of Physical Components
