---
title: Architect skills
description: Architect skills
section: Skills and training
aliases: skills
layout: layout-pane.njk
order: 2
---

We use the [Cabinet Office Digital, Data and Technology Profession Capability Framework](https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework) to describe the job roles and skills required for practising architects.

### Essential skills

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Skill</th>
      <th scope="col" class="govuk-table__header">Description</th>
      <th scope="col" class="govuk-table__header">What the skill level means</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
        Bridging the gap between the technical and non-technical
      </td>
      <td class="govuk-table__cell">
        Translates technical concepts between software engineering, delivery management and service management so they are understood by all.
      </td>
      <td class="govuk-table__cell">
        Able to mediate and mend relationships, communicating with stakeholders at all levels.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
        Making and guiding decisions
      </td>
      <td class="govuk-table__cell">
        Capable of making and guiding effective decisions, explaining clearly how the decision has been reached. The ability to understand and resolve technical disputes across varying levels of complexity and risk.
      </td>
      <td class="govuk-table__cell">
        	Able to make and justify decisions characterised by high levels of risk, impact and complexity. Builds consensus between organisations (private or public) or highly independent and diverse stakeholders.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
        Turning business problems into technical design
      </td>
      <td class="govuk-table__cell">
        The ability to work with business and technology stakeholders to translate business problems into technical designs. Creates an optimal design through an iterative process, aligning the user need with the system requirements and organisational objectives.
      </td>
      <td class="govuk-table__cell">
        	Designs systems characterised by high levels of risk, impact and business or technical complexity.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">
        Understanding the whole context
      </td>
      <td class="govuk-table__cell">
        The ability to look beyond the immediate technical problem and identify the wider implications. ‘Zooming out’ in three dimensions - knowing relevant historical context and future impact, understanding how current work fits in broader contexts and strategies, and looking for deeper underlying problems and opportunities.
      </td>
      <td class="govuk-table__cell">
        Able to understand trends and practices outside their organisation and how these will impact their work. Can anticipate changing policy.
      </td>
    </tr>
  </tbody>
</table>

### Desirable skills

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Skill</th>
      <th scope="col" class="govuk-table__header">Description</th>
      <th scope="col" class="govuk-table__header">What the skill level means</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Governance</td>
      <td class="govuk-table__cell">
        Understands technical governance and is able to participate in or deliver the assurance of a service. This capability becomes increasingly critical at senior role levels.
      </td>
      <td class="govuk-table__cell">
        	Able to understand how technical governance works with wider governance (for example, budget). Capable of assuring corporate services by understanding key risks and mitigation through assurance mechanisms.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Strategy</td>
      <td class="govuk-table__cell">
        Capable of producing strategy for technology that meets business needs. Able to create, refine and challenge patterns, standards, policies, roadmaps and vision statements. Senior roles tend to be more proactive as they set the strategy. Junior roles tend to be more reactive, responding to the strategy.
      </td>
      <td class="govuk-table__cell">
        Capable of shaping and influencing government strategy. Able to own and be responsible for setting strategies, patterns, standards, policies, roadmaps and vision statements.
      </td>
    </tr>
  </tbody>
</table>
