---
title: Drivers
description: Drivers
section: Context
aliases: drivers
layout: layout-pane.njk
order: 2
---

<p class="govuk-body-l">
  Drivers are pressures that we may need to respond to and these shape our aims and plans. Drivers can be categorised as follows:
</p>

- internal
- external
- competitive

### Internal drivers

- Delivery of Programme for Government (PfG) Outcomes
- Changing business needs
- State of the public finances
- Legacy infrastructure
- Collaborative working

### External drivers

- Rising citizen expectations
- Changing data and privacy compliance requirements
  - General Data Protection Regulation
  - Open Data and Public Sector Information Directive
  - Openness by design
  - Open Government National Action Plan
  - EU Inspire Directive
- Technology trends
- Cyber Security threats


### Competitive drivers

- commodity ICT services in the private sector may offer better value for money
