---
title: Capabilities
description: Business capabilities
section: ABBs
theme: Business Architecture
aliases: capabilities
layout: layout-pane.njk
order: 1
---

List of capabilities

Audit/Governance
Engagement
Mobile working
Training
Payments (Inbound)
Grants and Subsidies (Outbound)
Eligibility
Appeals/Claims
Case Management
Workflow Management
Permits/Licenses
Inspections
Enforcement
Service Support
Asset Management
Identity Management (Authentication)
Role Management (Authorisation)
Data Storage
Data Analysis
Data Sharing (Open data)
Spatial Data
Records Management/Registers

<h1>Strategic Capabilities</h1>
<h2>Strategic Planning</h2>
<h3>Strategy Management</h3>
<h3>Strategic Plan Definition</h3>
<h3>Strategic Plan Dissemination</h3>
<h3>Business Performance Management</h3>

<h1>Core/Public Facing Capabilities</h1>
<h2>Citizen Management</h2>

<h1>Top Level Capabilities</h1>

<table class="govuk-table">
  <caption class="govuk-table__caption">Top Level Capabilities</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Strategic Capabilities</th>
      <td class="govuk-table__cell">Strategic Planning</td>
      <td class="govuk-table__cell">Policy Management</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Core / Public Facing Capabilities</th>
      <td class="govuk-table__cell">Citizen Management</td>
      <td class="govuk-table__cell">Business Organisation Management</td>
      <td class="govuk-table__cell">Authorisations Management</td>
      <td class="govuk-table__cell">Public Awareness</td>
      <td class="govuk-table__cell">Asset Management</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Supporting Capabilities</th>
      <td class="govuk-table__cell">Operations Management</td>
      <td class="govuk-table__cell">Procurement Management</td>
      <td class="govuk-table__cell">IT Management</td>
      <td class="govuk-table__cell">Facilities Management</td>
      <td class="govuk-table__cell">HR Management</td>
    </tr>

<p class="govuk-body">Top level Strategic capabilities with sub level capabilities:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Strategic Planning
    <ul class="govuk-list govuk-list--bullet">
      <li>Strategic Management</li>
      <li>Strategic Plan Definition</li>
      <li>Strategic Plan Dissemination</li>
      <li>Business Performance Management</li>
    </ul>
  </li>
  <li>Policy Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Policy Creation
        <ul class="govuk-list govuk-list--bullet">
          <li>Policy Definition</li>
          <li>Policy Interpretation</li>
          <li>Policy Consultation</li>
        </ul>
      </li>
      <li>Policy Assurance
        <ul class="govuk-list govuk-list--bullet">
          <li>Assurance Data Gathering</li>
          <li>Assurance Determination</li>
          <li>Policy Enforcement</li>
        </ul>
      </li>  
    </ul>
  </li>
</ul>

<p class="govuk-body">Top level Core/Citizen Facing capabilities with sub level capabilities:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Citizen Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Citizen Identity Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Proof of Identity</li>
          <li>Citizen Digital Identity Management</li>
        </ul>
      </li>
      <li>Citizen Information Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Citizen Demographic Information Management</li>
          <li>Citizen Hierarchy Information Management</li>
          <li>Citizen Agreement Management</li>
          <li>Citizen Interaction Data Management</li>
        </ul>
      </li>  
    </ul>
  </li>
  <li>Business Organisation Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Business Organisation Identity Management</li>
      <li>Business Organisation  Digital Identity Management</li>
      <li>Business Organisation Information Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Business Organisation Demographic Information Management</li>
          <li>Business Organisation Hierarchy Information Management</li>
          <li>Business Organisation Agreement Management</li>
          <li>Business Organisation Interaction Data Management</li>
        </ul>
      </li>   
    </ul>
  </li>
  <li>Authorisations Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Authorisation Definition</li>
      <li>Authorisation Submissions Management</li>
      <li>Grant Authorisation</li>
      <li>Authorisation Compliance Management</li>
      <li>Authorisation Case Management</li>      
    </ul>
  </li>
  <li>Public Awareness
    <ul class="govuk-list govuk-list--bullet">
      <li>Campaign Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Create Campaign</li>
          <li>Launch Campaign</li>
          <li>Disseminate Information</li>
          <li>Roadshows</li>
        </ul>
      </li>
      <li>Responses
        <ul class="govuk-list govuk-list--bullet">
          <li>Citizen Query Responses</li>
          <li>FOI Responses</li>
          <li>Consultation Responses</li>
        </ul>
      </li>  
    </ul>
  </li>
  <li>Asset Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Asset Definition</li>
      <li>Asset Information Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Asset Valuation</li>
          <li>Asset Lifecycle Management</li>
          <li>Asset Validation and Verification</li>
          <li>Asset Access Management</li>
          <li>Asset Risk Management</li>
        </ul>
      </li>
      <li>Asset Matching
        <ul class="govuk-list govuk-list--bullet">
          <li>Asset to Asset</li>
          <li>Asset to Location</li>
          <li>Asset to Party</li>
          <li>Asset to Work</li>
        </ul>
      </li>  
    </ul>
  </li>
</ul>


<p class="govuk-body">Top level Supporting capabilities with sub level capabilities:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Operations Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Workforce Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Staff Rotas</li>
          <li>Fleet Management</li>
          <li>Work Scheduling</li>
          <li>Workflow Management</li>
          <li>Work Status Tracking</li>
        </ul>
      </li>
      <li>SLA Management
        <ul class="govuk-list govuk-list--bullet">
          <li>SLA Definitions</li>
          <li>SLA Tracking</li>
          <li>SLA Reporting</li>
        </ul>
      </li>  
    </ul>
  </li>
  <li>Procurement Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Opportunity Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Business Case Definition</li>
          <li>Business Case Approval</li>
        </ul>
      </li>   
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li>Tender Process Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Tender RFP</li>
          <li>RFP Response Evaluation</li>
          <li>Contract Negotiation</li>
          <li>Contract Management</li>
        </ul>
      </li>   
    </ul>
    
  </li>
  <li>ICT Management
    <ul class="govuk-list govuk-list--bullet">
      <li>IT Infrastructure Management
        <ul class="govuk-list govuk-list--bullet">
          <li>IT Network Management</li>
          <li>IT Security Management</li>
          <li>Hosting Services</li>
          <li>Storage Services</li>
        </ul>
      </li>
      <li>Device Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Provisioning</li>
          <li>Assignment</li>
          <li>Maintenance</li>
          <li>Billing</li>
        </ul>
      </li>
      <li>IT Operations Services
        <ul class="govuk-list govuk-list--bullet">
          <li>Service Identification</li>
          <li>Service Provision</li>
          <li>Service Onboarding</li>
          <li>Service Monitoring</li>
          <li>Service Support</li>
        </ul>
      </li>
      <li>IT Systems & Support Services
        <ul class="govuk-list govuk-list--bullet">
          <li>Application Development</li>
          <li>Website Content Services</li>
          <li>Testing Services</li>
          <li>Information Management</li>
          <li>Architecture</li>
        </ul>
      </li>
      <li>Consultation Services
        <ul class="govuk-list govuk-list--bullet">
          <li>UX Services</li>
          <li>Design Services</li>
          <li>Digital Transformation Services</li>
        </ul>
      </li>  
    </ul>
  </li>
  <li>Facilities Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Site Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Site Procurement</li>
          <li>Site Maintenance</li>
          <li>Site Services</li>
          <li>Site Support</li>
        </ul>
      </li>
      <li>Supplies Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Print Services</li>
          <li>Office Supplies</li>
          <li>Internal Mail</li>
        </ul>
      </li>  
    </ul>
  </li>
  <li>Financial Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Budget Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Budget Allocation</li>
          <li>Financial Tracking</li>
          <li>Financial Reporting</li>
        </ul>
      </li>
      <li>Audit</li>
    </ul>
  </li>  
  <li>HR Management
    <ul class="govuk-list govuk-list--bullet">
      <li>Vacation Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Position Management</li>
          <li>Candidate Sourcing</li>
          <li>Interviewing</li>
          <li>Reference Checking</li>
        </ul>
      </li>
      <li>HR Compensation Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Consultations</li>
          <li>Benefits Management</li>
          <li>Salary Management</li>
        </ul>
      </li>
      <li>HR Competency Management
        <ul class="govuk-list govuk-list--bullet">
          <li>Role Management</li>
          <li>Performance Management</li>
          <li>Training</li>
        </ul>
      </li>  
    </ul>
  </li>
</ul>


<table class="govuk-table">
  <caption class="govuk-table__caption">Capability Definitions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Capability</th>
      <th scope="col" class="govuk-table__header">Definition</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Strategic Planning</th>
      <td class="govuk-table__cell">The ablility to develop and maintain the strategic plan and overall direction of NICS</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Policy Management</th>
      <td class="govuk-table__cell">The ablility to define, interpret and enforce government legislation and policy</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Citizen Management</th>
      <td class="govuk-table__cell">The ablility to identify a citizen, maintain information on them and the status of their interactions and agreements</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Businss Organisation Management</th>
      <td class="govuk-table__cell">The ablility to identify a business organisation (school, business, etc), maintain information on them and the status of their interactions and agreements</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Authorisations Management</th>
      <td class="govuk-table__cell">The ablility to define and manage process that enables the provision of rights/entitlements (financial or otherwise) to people and/or assets</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Public Awareness</th>
      <td class="govuk-table__cell">The ability to disseminate information that is useful, important or beneficial to the public and to respond to queries</td>
    </tr>  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Asset Management</th>
      <td class="govuk-table__cell">The ability to acquire, create, track, report on, maintain and dispose of, tangible or intangible assets, with intrinsic value</td>
    </tr>      
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Operations Management   </th>
      <td class="govuk-table__cell">The ablility to manage a workforce, processes and information in order to support the provision of NICS services</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Procurement Management</th>
      <td class="govuk-table__cell">The ablility to develop and maintain the procurement of assets, products and services on behalf of NICS</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">ICT Management</th>
      <td class="govuk-table__cell">The ablility to provide and manage ICT services both to staff and citizens</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Facilities Management</th>
      <td class="govuk-table__cell">The ablility to procure and maintain facilities required by staff in accordance with Health & Safety laws</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Financial Management</th>
      <td class="govuk-table__cell">The ablility to manage and operate NICS within budget</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">HR Management</th>
      <td class="govuk-table__cell">The ablility to recruit, manage and train staff to be effective in the delivery of NICS services to the public</td>
    </tr> 
  </tbody>
</table>