---
title: Platform as a Service
description: Platform as a Service
section: catalogues
theme: Technology platforms
aliases:
layout: layout-pane.njk
order: 17
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Platform as a Service
---

In this model solution builders car only about their solution application code and configuration, not the infrastructure and the application stack.

{% include "_catalogue.njk" %}
