---
title: Principles
description: Principles
section: Directives
aliases: principles
layout: layout-pane.njk
order: 1
---

Principles are basically high-level definitions of fundamental values that guide both business and technology decisions, serving as the basis for architecture development, policies, and standards. Each architecture principle must focus mainly on business goals and the implications for the Northern Ireland Civil Service (NICS).

The current principles can be found at:

[https://nics-ea-principles.london.cloudapps.digital](https://nics-ea-principles.london.cloudapps.digital)
