---
title: Mission
description: Mission
section: Context
aliases: mission
layout: layout-pane.njk
order: 3
---

<p class="govuk-body-l govuk-!-font-weight-bold">
  &quot;To make a positive difference to the delivery of public services through being customer-focused, high performing and innovative&quot;
</p>

### Values

- <span class="gov-body govuk-!-font-weight-bold">C</span>ustomer: focus on our customers
- <span class="gov-body govuk-!-font-weight-bold">L</span>eadership: provide leadership with strong CLEAR direction
- <span class="gov-body govuk-!-font-weight-bold">E</span>thical: be honest, fair and equal in everything we do
- <span class="gov-body govuk-!-font-weight-bold">A</span>ccountable: be accountable and take responsibility
