---
title: Use case model
description: Use case model
section: ABBs
theme: Application Architecture
aliases: use case model
layout: layout-pane.njk
order: 16
---

<p>The approach we use to capture a formal definition of specific tasks that our customers wish to be implemented in software systems. A use case is a goal directed sequence of steps that delivers value to the user of the case. It supplements our user stories when more detail is needed.</p>

<p>The use case model consists of two artifacts:</p>
<ul>
<li><b>the use case diagram</b><p>This is a graphical representation showing which actors can perform which use cases</p>
<li><b>the use case description</b><p>This is a text based, detailed, step-by-step narrative of the interactions between the actor and the system</p>
</ul>
