---
title: Hosting platform
description: Hosting platform
section: ABBs
theme: Infrastructure applications
aliases: hosting
layout: layout-pane.njk
order: 3
---

## High-level requirements

- UK hosting
- High level of resilience (at least two geographically remote locations)
- Accredited to handle personal and confidential information classified as Official
- TLS standards enforced for all traffic
- Application isolation
- Internal private network for application communication
- SSH access to application containers
- Multi-language support (.NET Core is mandatory)
- Containerisation support (e.g. Docker)
- Self-service provisioning
- Scaling (up, down, automatically)
- Deployment using CI services
- Custom domains
- Remote logging
- Service metrics

## Required attributes (non-functional requirements)

### Performance
### Availability
### Recoverability
### Reliability
### Integrity
### Scalability
### Security
### Serviceability
### Usability
### Portability
### Interoperability

## Interfaces

- UI for administration
- CLI for developers

## Dependent building blocks

## Related solution building blocks (SBBs)

- IT Assist Private Cloud
- [GOV.UK PaaS](/sbbs/16-technology-platforms)
