---
title: DoF Agencies
description: Agencies in Department of Finance
section: ABBs
theme: Business Architecture
aliases: DoF Agencies
layout: layout-pane.njk
---

<ul>
<li>Communications and Engagement Division </li>
<li>Construction and Procurement Delivery</li>
<li>Departmental Solicitors Office</li>
<li>Enterprise Shared Services</li>
<li>Finance and Corporate Services</li>
<li>Group Internal Audit and Fraud Investigation Services</li>
<li>International Fund for Ireland</li>
<li>Land and Property Services</li>
<li>Northern Ireland Statistical Research Agency</li>
<li>Permanent Secretaries Private Office</li>
<li>Public Spending Directorate</li>
<li>RHI Inquiry</li>
<li>Sentence Commissioners</li>
<li>Strategic Policy and Reform</li>
</ul>