---
title: How to engage with EA
description: How to engage with EA
section: Governance
aliases: engage
layout: layout-pane.njk
order: 2
---

The Enterprise Architecture team should be engaged in the first instance by sending an email to the team email box mailto://ea-team@ea.finance-ni.gov.uk 

The Enterprise Architecture team must be engaged at the beginning of Discovery and Beta phases of the [GDS agile lifecycle](https://www.gov.uk/service-manual/agile-delivery)