---
title: Governance roles
description: Governance roles
section: Governance
aliases: compliance, conformance, roles, decisions, IGB
layout: layout-pane.njk
order: 2
---

## Context

The NICS Information Governance Board (IGB) is chaired by the Department of Finance Permanent Secretary with membership at Deputy Secretary level across the NICS. IGB is responsible for Information Assurance across the NICS and has established the Information Technology Design Authority (ITDA) in order to ensure consistency of approach and to maximise investment and reduce costs.

## Roles

The following groups and roles are involved in architecture governance:

- <a class="govuk-link" href="#architecture-board">Architecture Board</a>
- <a class="govuk-link" href="#delivery-manager">Delivery Manager</a>
- <a class="govuk-link" href="#enterprise-architect">Enterprise Architect</a>
- <a class="govuk-link" href="#itda">ITDA</a>
- <a class="govuk-link" href="#lead-developer">Lead Developer</a>
- <a class="govuk-link" href="#lead-enterprise-architect">Lead Enterprise Architect</a>
- <a class="govuk-link" href="#review-coordinator">Review Co-ordinator</a>

<h2 id="architecture-board">Architecture Board</h2>

### Capabilities

The board collectively must have a broad architecture domain knowledge i.e. it should contain senior representatives from the following domains:

- business
- data
- application
- technology

There should also be representation from a member of the security domain.

### Composition

The Architecture Governance Board will comprise enterprise, solution and specialist architects from the various architecture domains.

### Architecture Board responsibilities

The board has the following responsibilities:

- ensuring consistency between sub-architectures
- identifying reusable components
- flexibility of Enterprise Architecture to:
  - meet changing business needs
  - capitalise on new technologies
- enforcing architecture compliance
- improving the maturity level of the architecture discipline within the organisation
- ensuring the discipline of architecture-based development is adopted
- providing the basis for all decisions with regard to changes to the architectures
- supporting a visible escalation capability for out-of-bounds-decisions

### Board meetings

#### Frequency of meetings

The frequency of meetings will be dictated by the volume of work packages or projects and their cadence. It may be necessary for the governance board to meet as frequently as once per week.

#### Agenda

The following can be used as the basis of a standing agenda.

1. Minutes of previous meeting
2. Requests for change
3. Dispensations
4. Compliance assessments
5. Dispute resolution
6. Architecture strategy and direction
7. Actions assigned
9. Escalations
9. AOB

#### Inputs

Depending on the exact nature of the board meeting the following may be relevant:

- Architecture definition
- Risks
- Compliance review
- Change request
- Dispensations

#### Outputs

The following are possible outputs from the board meeting:

- Architecture updates
- Changes to architecture framework
- New Request for Architecture Work
- Statement of Architecture Work (updated if necessary)
- Architecture Contract (updated if necessary)
- Compliance Assessments (updated if necessary)
- Escalation to ITDA

<h2 id="delivery-manager">Delivery Manager</h2>

The Delivery Manager will request the assistance of an Enterprise Architect. They will work together to ensure checklists are completed and issues are addressed as far as possible before presentation to the Architecture Board.

<h2 id="enterprise-architect">Enterprise Architect</h2>

The Enterprise Architect will determine the scope, tailor the criteria, work with the Lead Developer and Delivery Manager to resolve issues and present to the Architecture Board.

<h2 id="itda">ITDA</h2>

ITDA will provide engage in the governance process **by exception only**. This is likely to be the case when there has been an <a class="govuk-link" href="/governance/escalation">escalation</a> from the Architecture Board.

<h2 id="lead-developer">Lead Developer</h2>

The Lead Developer will work with the Delivery Manager and Enterprise Architect to resolve issues.

<h2 id="lead-enterprise-architect">Lead Enterprise Architect</h2>

The Lead Enterprise Architect will determine the outcome of the compliance review and escalate to ITDA for resolution if required.

<h2 id="review-coordinator">Review Co-ordinator</h2>

The Review Co-ordinator will perform the general administrative duties associated with the process ensuring that all documents are stored in the architecture repository and that all decisions are recorded.
