---
title: Governance roles
description: Governance roles
section: Governance
aliases: roles
layout: layout-pane.njk
order: 3
---

## Governance context

The NICS Information Governance Board (IGB) is chaired by the Department of Finance Permanent Secretary with membership at Deputy Secretary level across the NICS. IGB is responsible for Information Assurance across the NICS and has established the Information Technology Design Authority (ITDA) in order to ensure consistency of approach and to maximise investment and reduce costs.

## Architecture Board

### Capabilities

The board collectively must have a broad architecture domain knowledge i.e. it should contain senior representatives from the following domains:

- business
- data
- application
- technology

There should also be representation from a member of the security domain.

### Composition

The Architecture Governance Board will comprise enterprise, solution and specialist architects from the various architecture domains.

## Architecture Board responsibilities

The board has the following responsibilities:

- ensuring consistency between sub-architectures
- identifying reusable components
- flexibility of Enterprise Architecture to:
  - meet changing business needs
  - capitalise on new technologies
- enforcing architecture compliance
- improving the maturity level of the architecture discipline within the organisation
- ensuring the discipline of architecture-based development is adopted
- providing the basis for all-decision with regard to changes to the architectures
- supporting a visible escalation capability for out-of-bounds-decisions

## Board meetings

### Frequency of meetings

The frequency of meetings will be dictated by the volume of work packages or projects and their cadence. It may be necessary for the governance board to meet as frequently as once per week.

### Agenda

The following can be used as the basis of a standing agenda.

1. Minutes of previous meeting
2. Requests for change
3. Dispensations
4. Compliance assessments
5. Dispute resolution
6. Architecture strategy and direction
7. Actions assigned
9. Escalations
9. AOB

### Inputs

Depending on the exact nature of the board meeting the following may be relevant:

- Architecture definition
- Risks
- Compliance review
- Change request
- Dispensations

### Outputs

The following are possible outputs from the board meeting:

- Architecture updates
- Changes to architecture framework
- New Request for Architecture Work
- Statement of Architecture Work (updated if necessary)
- Architecture Contract (updated if necessary)
- Compliance Assessments (updated if necessary)
- Escalation to ITDA
