---
title: Conceptual data entities
description: Conceptual data entities
section: Architecture Building Blocks
theme: Data Architecture
aliases: data
layout: layout-pane.njk
order: 11
---

List of conceptual data entities
