---
title: Conceptual data entities
description: Conceptual data entities
section: ABBs
theme: Data Architecture
aliases: data
layout: layout-pane.njk
order: 11
---

Conceptual data entities represent the core data the business must remember to complete its business processes and provide business services. The purpose of this catalogue is to identify data duplication.

The following is a list of potential data entities taken from <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/266279/A-Concept-Model-for-the-UK-Public-Sector.pdf">A Concept Model for the UK Public Sector</a>.


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Meaning</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">account</td>
      <td class="govuk-table__cell">
        A container for information about Events and Statuses for a Function, that relate to an Entity and a Role
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">activity</td>
      <td class="govuk-table__cell">
        a thing that a Person or Organisaion does or has done
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">agreement</td>
      <td class="govuk-table__cell">
        An agreement between two parties
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">assessment</td>
      <td class="govuk-table__cell">
        A study that reaches conclusions to inform a decision
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">case</td>
      <td class="govuk-table__cell">
        The management of a Service Demand
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">community</td>
      <td class="govuk-table__cell">
        A group of interacting people that share common values and/or Location
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">decision</td>
      <td class="govuk-table__cell">
        a conclusion or resolution reached after consideration
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">deliverable</td>
      <td class="govuk-table__cell">
        An outcome of a Strategy
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">entity</td>
      <td class="govuk-table__cell">
        Something that has a distinct, separate existence
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">event</td>
      <td class="govuk-table__cell">
        A happening, that has occurred, or is due to occur
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">legislation</td>
      <td class="govuk-table__cell">
        Law which has been enacted by a governing body
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">location</td>
      <td class="govuk-table__cell">
        A fixed point, area, or volume
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">metric</td>
      <td class="govuk-table__cell">
        An analytical measurement intended to quantify the state of a system
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">object</td>
      <td class="govuk-table__cell">A physical item</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">organisation</td>
      <td class="govuk-table__cell">
        A social group which distributes tasks for a collective goal
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">outcome</td>
      <td class="govuk-table__cell">
        The changes of state to an Entity as a consequence of an event.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">period</td>
      <td class="govuk-table__cell">
        A specified division or portion of time
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">person</td>
      <td class="govuk-table__cell">
        A human being
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">role</td>
      <td class="govuk-table__cell">
        The manner in which an Entity participates in an Event
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">service</td>
      <td class="govuk-table__cell">
        The capacity to carry out a defined process. A service exists even if it is not accessed.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">service activity</td>
      <td class="govuk-table__cell">
        An event that is undertaken within a Case
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">service demand</td>
      <td class="govuk-table__cell">
        An Event that causes a Service to create a Case
      </td>
    </tr>
  </tbody>
</table>
