---
title: Reference Architectures
description: Reference Architectures
section: Architecture Reference Library
aliases: Reference Architectures
layout: layout-pane.njk
order: 1
---

A reference architecture provides a proven template solution for an architecture for a particular domain.  It’s the high-level “blue prints” for putting the pieces of the puzzle together.


