---
layout: layout-pane.njk
title: Reports
description: Reports
show_subnav: false
---

Our architecture governance team oversees the creation and management of the architecture portal, the roadmap and solution conformance processes, and reports on the current state of architecture conformance and portal / repository usage to the architecture board.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Report</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/reports/monthly">Monthly solution conformance report</a></td>
      <td class="govuk-table__cell">
        This report identifies all projects in flight during the last month their the design and build process and their solution conformance status.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/reports/quarterly">Quarterly solution conformance report</a></td>
      <td class="govuk-table__cell">
        This report identifies all projects in flight during the last quarter their progress through the design and build process and their solution conformance status.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/reports/yearly">Yearly solution conformance report</a></td>
      <td class="govuk-table__cell">
        This report identifies all projects in flight during the last year their progress through the design and build process and their solution conformance status.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/reports/roadmap">Roadmap conformance report</a></td>
      <td class="govuk-table__cell">
        This report identifies all roadmap changes over the last quarter and their roadmap conformance status.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/reports/portal-usage">Architecture portal and repository usage</a></td>
      <td class="govuk-table__cell">
        This report identifies the level of usage of the architecture portal and the main underlying repositories. It ensures we have continuous visibility of the numbers of people visiting and the degree to which architecture information of all types is being utilised.
      </td>
    </tr>
  </tbody>
</table>
