---
title: User stories
description: User stories
section: Architecture Building Blocks
theme: Application Architecture
aliases: user story
layout: layout-pane.njk
order: 15
---

List of user stories
