---
title: Business function
description: Business functions
section: Architecture Building Blocks
theme: Business Architecture
aliases: function
layout: layout-pane.njk
order: 9
---

List of functions
