---
title: Infrastructure as a Service
description: Infrastructure as a Service
section: Catalogues
theme: Technology platforms
aliases: infrastructure, service, equipment, physical, virtual, network, storage, server
layout: layout-pane.njk
order: 41
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Infrastructure as a Service
---

In the IaaS model solution builders have virtual machines allocated to them based on their specification. The IaaS provider looks after locations, equipement, physical and virtual networks, phyical and virtual storage and physical and virtual servers.

{% include "_catalogue.njk" %}
