---
title: Software code patterns
description: Software code patterns
section: Architecture Building Blocks
theme: Application Architecture
aliases: software code patterns
layout: layout-pane.njk
order: 20
---

List of logical application components
