/*colours specific to NICS*/

$nics-brand-colour: darken(#1984d6, 30%);
$nics-grey: #e6e6e6;
$nics-service-name-color: #0869b3;
$nics-highligh-color: #085d9f;
.govuk-header {
    background: $nics-brand-colour;
    color: #fff;
}