---
title: Data Management Services
description: Data Management Services
section: Catalogues
theme: Application platform
aliases: access, transform, aggregate, search, analysis, integration, reporting, data, bi, sql, tableau
layout: layout-pane.njk
order: 36
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Data Management Services
---

Data Management Services provide ability to access, transform, aggregate and search information.

{% include "_catalogue.njk" %}
