---
title: Software Products
description: Software Products
section: SBBs
theme: Application Architecture
aliases: Drupal v7, Drupal v8, content management, SOLR search
layout: layout-pane.njk
order: 9
---

## Commercial Off The Shelf (COTS)

<hr class="govuk-section-break govuk-section-break--visible">

## Open Source

- <a class="govuk-link" href="#drupal-v7">Drupal v7</a>
- <a class="govuk-link" href="#drupal-v8">Drupal v8</a>
- <a class="govuk-link" href="#solr">SOLR</a>

<hr class="govuk-section-break govuk-section-break--visible">

<h3 id="drupal-v7">Drupal version 7</h3>

tbd

#### Features

tbd

#### Information assurance

tbd

#### Security

tbd

#### Contract / MOU

tbd

#### Support

tbd

#### Cost

tbd

#### Roadmap

tbd

#### Predicted life span

tbd

<hr class="govuk-section-break govuk-section-break--visible">


<h3 id="drupal-v8">Drupal version 8</h3>

tbd

#### Features

tbd

#### Information assurance

tbd

#### Security

tbd

#### Contract / MOU

tbd

#### Support

tbd

#### Cost

tbd

#### Roadmap

tbd

#### Predicted life span

tbd

<hr class="govuk-section-break govuk-section-break--visible">

<h3 id="solr">SOLR</h3>

tbd

#### Features

tbd

#### Information assurance

tbd

#### Security

tbd

#### Contract / MOU

tbd

#### Support

tbd

#### Cost

tbd

#### Roadmap

tbd

#### Predicted life span

tbd

<hr class="govuk-section-break govuk-section-break--visible">
