---
title: Software Products
description: Software Products
section: SBBs
theme: Application Architecture
aliases: Software Products
layout: layout-pane.njk
order: 9
---

In this document:

- <a class="govuk-link" href="#drupal-v7">Druapl v7</a>
- <a class="govuk-link" href="#drupal-v8">Druapl v8</a>
- <a class="govuk-link" href="#solr">SOLR</a>

<h2 id="drupal-v7">Drupal version 7</h2>

tbd

### Features

tbd

### Information assurance

tbd

### Security

tbd

### Contract / MOU

tbd

### Support

tbd

### Cost

tbd

### Roadmap

tbd

### Predicted life span

tbd

<hr class="govuk-section-break govuk-section-break--visible">


<h2 id="drupal-v8">Drupal version 8</h2>

tbd

### Features

tbd

### Information assurance

tbd

### Security

tbd

### Contract / MOU

tbd

### Support

tbd

### Cost

tbd

### Roadmap

tbd

### Predicted life span

tbd

<hr class="govuk-section-break govuk-section-break--visible">

<h2 id="solr">SOLR</h2>

tbd

### Features

tbd

### Information assurance

tbd

### Security

tbd

### Contract / MOU

tbd

### Support

tbd

### Cost

tbd

### Roadmap

tbd

### Predicted life span

tbd

<hr class="govuk-section-break govuk-section-break--visible">
