---
title: Productivity
description: Office productivity applications
section: Catalogues
theme: Infrastructure applications
aliases: office information, tasks, basic, routine, word processing, spreadsheet, presentation
layout: layout-pane.njk
order: 20
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Productivity
---

Office productivity applications facilitate the creation, storage, manipulation and relay of office information needed for accomplishing basic tasks.

{% include "_catalogue.njk" %}
