---
title: Architect roles
description: Architect roles
section: Skills and Training
aliases: skills
layout: layout-pane.njk
order: 1
---

### TOGAF role definitions

[TOGAF](https://www.opengroup.org/togaf) defines three specific architecture roles:

- Enterprise Architect
- Solutions Architect
- Specialist Architect

An **enterprise architect** works with the overall requirements / constraints of the enterprise to drive and govern the development of the (usually evolving) enterprise architecture; providing a balance of the general/global and specific/local outcomes required by that enterprise.

A **solution architect** works with a set of specific requirements/constraints to deliver specific solutions; providing a balance between the needs of those specific requirements/constraints with the agreed wider enterprise architecture (at the relevant strategic, segment and capability levels).

A **specialist architect** usually works within a specific domain with a narrower scope and possesses very detailed knowledge and expertise, for example a *network architect* working within the Technology domain.

TOGAF also recognises that architects exist within specific domains and therefore we also have the following more specific roles:

- Business Architect
- Data Architect
- Application Architect
- Technology Architect

### DDaT role definitions

The [Cabinet Office Digital, Data and Technology Profession Capability Framework](https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework) describes two types of architect roles:

- [Technical architect](https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework#technical:-technical-architect)
- [Technical specialist architect](https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework#technical:-technical-specialist-architect)

The Technical Architect role description can be used to cover the TOGAF role descriptions for Enterprise and Solution Architects while there is a very obvious mapping between specialist role descriptions.
