---
title: GOV.UK Pay
layout: layout-pane.njk
section: Catalogues
theme: Technology Platforms
aliases: payment, money
---

This Plaform as a Service offers UK-based web hosting for Government services. It facilitates the deployment of applications without the need for infrastructure specialists. The platform is scalable, resilient and secure and is supported 24 hours a day, 7 days a week.

## Location

Amazon Web Services (AWS) UK data centres.

## Features

<a class="govuk-link" href="https://www.payments.service.gov.uk/using-govuk-pay">GOV.UK Pay features</a>


## Security

<a class="govuk-link" href="https://www.payments.service.gov.uk/security">GOV.UK Pay security</a>

## Contract / MOU

DSS has established an Memorandum of Understanding (MOU) with the UK Cabinet Office to consume the service.

## Support

<a class="govuk-link" href="https://www.payments.service.gov.uk/support">GOV.UK PaaS support and response times</a>

## Cost

tbd

## Roadmap

<a class="govuk-link" href="https://www.payments.service.gov.uk/roadmap/">GOV.UK Pay roadmap</a>

## Predicted life span

The life span of this platform is not known. However, the platform is currently undergoing development and growth and features are being planned at least 1 year in advance.
