---
layout: layout-pane.njk
title: Directives
description: Directives
show_subnav: true
---

Directives are key properties of our architecture and guide how our solutions should be created. They are minimally defined as principles, policies and business rules, but are often extended to include standards and best practices (as we have done).

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/directives/principles">Principles</a>
      </td>
      <td class="govuk-table__cell">
        Statements of general good practice that should normally be applied.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/directives/policies">Policies</a>
      </td>
      <td class="govuk-table__cell">
        Describe how principles should be applied in day to day work.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/directives/business-rules">Business rules</a>
      </td>
      <td class="govuk-table__cell">
        Directs and constrains how business should be carried out. Actionable rules derived from the higher directives.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/directives/regulations">Regulations</a>
      </td>
      <td class="govuk-table__cell">
        A law or other regulation that adds to the requirements for or constraints on any solution to be developed or maintained.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/directives/standards">Standards</a>
      </td>
      <td class="govuk-table__cell">
        Specific things (specifications and/or specific implementations and products) that should be used in particular circumstances.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/directives/best-practices">Best practices</a>
      </td>
      <td class="govuk-table__cell">
        Practices that should be adopted and followed.
      </td>
    </tr>
  </tbody>
</table>
