---
title: Libraries
description: Libraries
section: Catalogues
theme: Infrastructure applications
aliases: software, modules, functionality, .net, framework, javascript
layout: layout-pane.njk
order: 22
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Libraries
---

A library is typically a collection of software modules that provide specific functionality tailored for a particular operating environment.

{% include "_catalogue.njk" %}
