---
title: Brokering applications
description: Brokering applications
section: Catalogues
theme: Business applications
aliases: broker, middleware
layout: layout-pane.njk
order: 11
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Brokering Applications
---

Brokering Applications manage the requests from any number of clients to and across any number of service providers.

{% include "_catalogue.njk" %}
