---
title: Logical data entities
description: Logical data entities
section: ABBs
theme: Data Architecture
aliases: data
layout: layout-pane.njk
order: 12
---

Logical data entities are normally those associated with one application or one data store.
