---
title: Business rules
description: Business rules
section: Directives
aliases: business rules
layout: layout-pane.njk
order: 3
---

Business rules direct and constrain. Business rules can take the form of terms, facts, constraints or derivation rules.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Rule</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.finance-ni.gov.uk/sites/default/files/publications/dfp/daodfp0615.pdf">DAO 06/15</a>
      </td>
      <td class="govuk-table__cell">
        Extension of Shared Services
      </td>
    </tr>
  </tbody>
</table>
