---
title: Organisation units
description: Organisation units
section: Architecture Building Blocks
theme: Business Architecture
aliases: capabilities
layout: layout-pane.njk
order: 3
---

List of organisation units
