---
title: Organisation units
description: Organisation units
section: ABBs
theme: Business Architecture
aliases: capabilities
layout: layout-pane.njk
order: 3
---

List of organisation units

<table class="govuk-table">
  <caption class="govuk-table__caption">Organisation Unit Acronymns and Names</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Acronym</th>
      <th scope="col" class="govuk-table__header">Name</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">TEO</th>
      <td class="govuk-table__cell">The Executive Office</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DAERA</th>
      <td class="govuk-table__cell">Department of Agriculture, Environment and Rural Affairs</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DfC</th>
      <td class="govuk-table__cell">Department for Communities</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DfE</th>
      <td class="govuk-table__cell">Department for the Economy</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DE</th>
      <td class="govuk-table__cell">Department of Education</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DoF</th>
      <td class="govuk-table__cell">Department of Finance</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DoH</th>
      <td class="govuk-table__cell">Department of Health</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DfI</th>
      <td class="govuk-table__cell">Department for Infrastructure</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">DoJ</th>
      <td class="govuk-table__cell">Department of Justice</td>
    </tr>
  </tbody>
</table>