---
title: Organisation units
description: Organisation units
section: ABBs
theme: Business Architecture
aliases: capabilities
layout: layout-pane.njk
order: 3
---

<ul>
<li>Northern Ireland Civil Service (NICS)
<ul>
<li>Department of Agriculture, Environment and Rural Affairs (DAERA)</li>
<li>Department for Communities (DFC)</li>
<li>Department for the Economy (DfE)</li>
<li>Department of Education (DE)</li>
<li><a href="/abbs/03-business-organisation-units/dof/">Department of Finance (DoF)</a></li>
<li>Department for Infrastructure (DfI)</li>
<li>Department of Justice (DoJ)</li>
<li>The Executive Office (TEO)</li>
</ul></li>
</ul>
