---
title: Skills Repository
description: NICS Enterprise Architecture Architecture Charter
section: Architecture Capability Framework
aliases: Architecture Charter Skills Repository training roles 
layout: layout-pane.njk
order: 3
---

We have defined a framework of skills, roles and training for our enterprise and solution architects that enables us to clearly understand our place within the organisation and how to develop our careers.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/architecture-capability-framework/skills/architect-roles">Roles</a></td>
      <td class="govuk-table__cell">
        A set of expected roles for architects has been identified, described and related in a progression framework.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/architecture-capability-framework/skills/architect-skills">Skills</a></td>
      <td class="govuk-table__cell">
        A standardised framework of skills for enterprise and solution architects has been developed against which all or our architects are evaluated.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/architecture-capability-framework/skills/profiles">Skills profiles</a></td>
      <td class="govuk-table__cell">
        A skills profile for each architect that shows their skills and their overall skill levels. The overall numbers are used by our organisation for planning architect numbers and future areas of focus. The specific architect profile is used by each individual architect to capture the evidence of skills and experience and plan areas of focus for training and development.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="/architecture-capability-framework/skills/training-courses">Training courses</a></td>
      <td class="govuk-table__cell">
        A set of training and learning events that help our architects develop each combination of skill and level as they take on new roles and challenges and progress through their careers.
      </td>
    </tr>
  </tbody>
</table>
