---
title: Physical Data Components
description: Physical Data Components
section: Solution Building Blocks
theme: Data Architecture
aliases: data-components
layout: layout-pane.njk
order: 6
---

List of Physical Data Components
