---
title: End user devices
description: End user devices catalogue
section: catalogues
theme: Physical infrastructure
aliases:
layout: layout-pane.njk
order: 19
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Client devices
---

End user devices are specified in section 12 of the [DSS Service Catalogue](https://itassist.intranet.net/our-services).
