---
title: Shared Services Applications
description: Shared Services Applications
section: Catalogues
theme: Business applications
aliases: common applications, enterprise, organisation, ERP
layout: layout-pane.njk
order: 13
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Shared Services Applications
---

Shared Service Applications are those which are used by the entire enterprise across oranisational boundaries. These are typically but not exclusively ERP applications.

{% include "_catalogue.njk" %}
