---
layout: layout-pane.njk
title: Architecture Capability Framework
show_subnav: true
Description: NICS Enterprise Architecture Capability Framework
---

In order to successfully operate an architecture function within an enterprise, it is necessary to put in place appropriate organisation structures, processes, roles, responsibilities, and skills to realise the Architecture Capability.

## Target Enterprise Architecture Capability
 <img src="/images/architectureCapability.png"
    alt="Mature Architecture Capability"
    style="border: none">

<br/>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/architecture-capability-framework/charter">Architecture Charter</a>
      </td>
      <td class="govuk-table__cell">
        The enterprise architecture charter provides a clear scope and mandate for the EA team and its stakeholders. Creating an EA charter avoids many of the most common causes of failure in EA programs.
      </td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/architecture-capability-framework/organisation">Organisation</a>
      </td>
      <td class="govuk-table__cell">
        An overview of the NICS Enterprise Architecture organisation.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/architecture-capability-framework/skills">Skills Repository</a>
      </td>
      <td class="govuk-table__cell">
        Skills Repository provides a view of the competency levels required for specific roles
      </td>
    </tr>
   
  </tbody>
</table>
