---
title: Dispensation
description: Dispensation
section: Governance
aliases: reject, compliance
layout: layout-pane.njk
order: 5
---

A Compliance Assessment can be rejected where the subject area (design, operational, service level, or technology) are not compliant.

Where a compliance assessment is rejected, an alternate route to meeting interim conformance is provided through a **dispensation**. Dispensations are granted for a given time period and set of identified service and operational criteria that must be enforced during the lifespan of the dispensation. Dispensations are not granted indefinitely, but are used as a mechanism to ensure that service levels and operational levels are met while providing a level of flexibility in their implementation and timing. The time-bound nature of dispensations ensures that they are a major trigger in the compliance cycle.

Dispensations may need to be escalated to ITDA depending upon the assessed impacts identified in the compliance assessment.
