---
title: Training courses
description: Training courses
section: Skills and Training
aliases: training
layout: layout-pane.njk
order: 4
---

There are two training course recommended for those who are involved in architecture work:

- [TOGAF 9.2 Foundation](http://www.opengroup.org/togaf9/cert/docs/togaf9_foundation.pdf)
- [BCS Intermediate Certificate in Enterprise and Solution Architecture](https://www.bcs.org/get-qualified/certifications-for-professionals/solution-development-and-architecture/bcs-intermediate-certificate-in-enterprise-and-solutions-architecture/)

For those who practice architecture then the same two courses are recommended at practitioner level:

- [TOGAF 9.2 Certified](http://www.opengroup.org/togaf9/cert/docs/togaf9_cert.pdf)
- [BCS Practitioner Certificate in Enterprise and Solution Architecture](https://www.bcs.org/get-qualified/certifications-for-professionals/solution-development-and-architecture/bcs-practitioner-certificate-in-enterprise-and-solutions-architecture/)
