---
title: Reporting
description: Reporting
section: Governance
aliases: roles
layout: layout-pane.njk
order: 4
---

A conformance report for each proposed solution will be produced as the result of a <a class="govuk-link" href="/governance/compliance-reviews">compliance review</a>. The level of compliance will be described according to the following definitions:

- **fully conformant**: there is a full correspondence between the architecture specification, its implementation and the enterprise architecture

- **partially conformant**: there are some deviations from the enterprise architecture contained within the proposed solution which may be resolved through discussion and minor change

- **non-conformant**: there are some fundamental deviations from the enterprise architecture contained within the proposed solution or a misalignement between the architecture specification and its mplementation


Regular conformance reports will be provided as described in the <a class="govuk-link" href="/reports">Reports</a> section.
