---
title: Reporting
description: Reporting
section: Governance
aliases: roles
layout: layout-pane.njk
order: 5
---

A conformance report for each proposed solution will be produced as the result of a compliance review. The level of compliance will be described according to the following definitions:

- **irrelevant**: no features in common with the architecture specification

- **consistent**: some features in common with the architecture specification and has other features that have not been implemented

- **compliant**: some features in the specification are implemented and these are compliant

- **conformant**: all features in the specification have been implemented in accordance with the specification but some features are not in accordance with the specification

- **fully conformant**: there is a full correspondence between architecture specification and implementation

- **non-conformant**: any of the above except fully conformant

Regular conformance reports will be provided as described in the <a class="govuk-link" href="/reports">Reports</a> section.
