---
title: Logical technology components
description: Logical technology components
section: Architecture Building Blocks
theme: Technology Architecture
aliases: technology
layout: layout-pane.njk
order: 4
---

List of logical technology components
