---
title: Server devices
description: Server devices
section: Catalogues
theme: Physical infrastructure
aliases: server, blade, rack
layout: layout-pane.njk
order: 53
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Server devices
---

Server devices
