---
title: Regulations
description: Regulations
section: Directives
aliases: standards
layout: layout-pane.njk
order: 4
---

### Data Protection and freedom regulations

- <a class="govuk-link" href="https://www.gov.uk/government/collections/data-protection-act-2018">Data Protection Act</a>
- <a class="govuk-link" href="https://eur-lex.europa.eu/eli/reg/2016/679/oj">General Data Protection Regulation (GDPR)</a>
- <a class="govuk-link" href="http://www.legislation.gov.uk/ukpga/2000/36/contents">Freedom of Information Act</a>

### Disability and accessibility regulations

- <a class="govuk-link" href="http://www.legislation.gov.uk/ukpga/1995/50/contents">Disability Discrimination Act</a>
- <a class="govuk-link" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/understanding-wcag">Web Content Accessibilty Guidelines</a>

### Intellectual property rights regulation

- <a class="govuk-link" href="http://www.legislation.gov.uk/ukpga/1988/48/contents">Copyright, Designs and Patents Act</a>
