---
title: Workflows/procedures/work instructions
description: Business Workflows
section: SBBs
theme: Business Architecture
aliases: Workflows
layout: layout-pane.njk
order: 3
---

List of Workflows/procedures/work instructions
