---
layout: layout-pane.njk
title: Standards Information Base
show_subnav: true
---

Standards are a widely accepted measure or set of qualities that is intended to increase uniformity between distinct systems and processes.

## Types of Standard

Standards typically fall into three classes:

* <b>Legal and Regulatory Obligations: </b>These standards are mandated by law and therefore an enterprise must comply or face serious consequences.
* <b>Industry Standards: </b>These standards are established by industry bodies, such as The Open Group, and are then selected by the enterprise for adoption. Industry Standards offer potential for interoperation and sharing across enterprises, but also fall outside of the control of the enterprise and therefore must be actively monitored.
* <b>Organisational Standards: </b>These standards are set within the organization and are based on business aspiration (e.g., selection of standard applications to support portfolio consolidation). Organizational Standards require processes to allow for exemptions and standards evolution.

## Standards Lifecycle

Standards do not generally exist for all time. New standards are identified and managed through a lifecycle process. Typically, standards pass through the following stages:

* <b>Proposed Standard: </b>A potential standard has been identified for the organization, but has not yet been evaluated for adoption.
* <b>Provisional Standard: </b>A Provisional Standard has been identified as a potential standard for the organization, but has not been tried and tested to a level where its value is fully understood. Projects wishing to adopt Provisional Standards may do so, but under specific pilot conditions, so that the viability of the standard can be examined in more detail.
* <b>Standard: </b>A Standard defines a mainstream solution that should generally be used as the approach of choice.
* <b>Phasing-Out Standard: </b>TA Phasing-Out Standard is approaching the end of its useful lifecycle. Projects that are re-using existing components can generally continue to make use of Phasing-Out Standards. Deployment of new instances of the Phasing-Out Standard are generally discouraged.
* <b>Retired Standard: </b>A Retired Standard is no longer accepted as valid within the landscape. In most cases, remedial action should be taken to remove the Retired Standard from the landscape. Change activity on a Retired Standard should only be accepted as a part of an overall decommissioning plan.

<div class="govuk-inset-text">
  Source: <a href="https://pubs.opengroup.org/architecture/togaf91-doc/arch/chap41.html#tag_41_04">TOGAF Standards Information Base</a>
</div>

### Standards bodies

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Abbreviation</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.ansi.org">ANSI</a>
      </td>
      <td class="govuk-table__cell">
        American National Standards Insititute
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.iso.org/member/2064.html">BSI</a>
      </td>
      <td class="govuk-table__cell">
        British Standards Insititute
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.ieee.org">IEEE</a>
      </td>
      <td class="govuk-table__cell">
        Insititute of Electrical and Electronic Engineers
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.isaca.org">ISACA</a>
      </td>
      <td class="govuk-table__cell">
        Information Systems Audit and Control Association
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.omg.org">OMG</a>
      </td>
      <td class="govuk-table__cell">
        The Object Management Group
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.opengroup.org">TOG</a>
      </td>
      <td class="govuk-table__cell">
        The Open Group
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://www.sei.cmu.edu">SEI</a>
      </td>
      <td class="govuk-table__cell">
        Software Engineering Insititute
      </td>
    </tr>
  </tbody>
</table>