---
title: Data centres
description: Data centres
section: SBBs
theme: Physical infrastructure
aliases: Data centre, building, rack, power, cooling
layout: layout-pane.njk
order: 50
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Data Centres
---

Data centres provide the physical buildings, power, cooling and network connectivity to host hardware.

{% include "_catalogue.njk" %}
