---
title: Aims
description: Aims
section: Context
aliases: aims
layout: layout-pane.njk
order: 6
---

### Goals

Goals are statements about a desired future reality. Goals can be short term or long term and are not necessarily tangible. Goals focus on *what* you wish to achieve not *how* you want to achieve it. A goal is:

- broad
- intangible
- abstract

DSS has organised its goals into a balanced scorecard.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Business results</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Customers</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">R1</span>: Deliver cost effective, secure, robust services which meet business needs
      </td>
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">C1</span>: Ensure the DSS Operating Model continues to meet customer needs
      </td>
    </tr>
    <td class="govuk-table__cell">
      <span class="gov-body govuk-!-font-weight-bold">R2</span>: Drive the Digital Transformation Programme forward to &quot;make citizens services better&quot;
    </td>
    <td class="govuk-table__cell">
      <span class="gov-body govuk-!-font-weight-bold">C2</span>: Provide quality customer service
    </td>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
      </td>
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">C3</span>: Respond effectively to new business opportunities
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
      </td>
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">C4</span>: Provide effective customer relationship management function to cover all DSS services
      </td>
    </tr>
  </tr>
  </tbody>
</table>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Internal processes</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Organisation and people</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">IP1</span>: Manage resources available to DSS effeciently and effectively including effective governance of DSS services delivery
      </td>
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">OP1</span>: Develop and maintain a strategic capacity and capability to deliver Digital Shared Services
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">IP2</span>: Continuously improve the way we do business
      </td>
      <td class="govuk-table__cell">
        <span class="gov-body govuk-!-font-weight-bold">OP2</span>: Ensure DSS is a good place to work
      </td>
    </tr>
  </tbody>
</table>

### Objectives

Objectives are always targeted and number focused, unlike goals which talk about the bigger picture. Objectives should be accomplishable and measurable, that lets us determine whether we are making any progress or not. An objective is:

- specific
- tangible
- measurable

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

### Concerns

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

### Requirements

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
