---
title: RDBMS
description: Relational Database Management System
section: Catalogues
theme: Infrastructure applications
aliases: entity, relationship
layout: layout-pane.njk
order: 4
---
## High-level requirements

## Required attributes (non-functional requirements)

### Performance
### Availability
### Recoverability
### Reliability
### Integrity
### Scalability
### Security
### Serviceability
### Usability
### Portability

### Interoperability

## Interfaces

## Dependent building blocks

## Related solution building blocks (SBBs)

- [IT Assist Shared SQL](/sbbs/16-technology-platforms)
