---
title: Operating System Services
description: Operating System Services
section: Catalogues
theme: Application platform
aliases: runtime, execution, environment, applications, web server, OS, mac, linux, unix, windows, apache, nginx, iis
layout: layout-pane.njk
order: 31
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Operating System Services
---

Operating System Services provide the runtime execution environment for applications.

{% include "_catalogue.njk" %}
