---
title: Windows Server
description: Windows Server
layout: layout-pane.njk
section: Catalogues
theme: Application platform
aliases: windows, server, operating system
---

Windows Server is a proprietary operating system developed by Microsoft for use on server computer systems.

## Status

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">End of life date</th>
      <th scope="col" class="govuk-table__header">End of support date</th>
      <th scope="col" class="govuk-table__header">Decision</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Windows Server 2003</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">14 Jul 2015</td>
      <td class="govuk-table__cell">PROHIBITED</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Windows Server 2008</td>
      <td class="govuk-table__cell">13 Jan 2015</td>
      <td class="govuk-table__cell">14 Jan 2020</td>
      <td class="govuk-table__cell">UNAPPROVED</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Windows Server 2012</td>
      <td class="govuk-table__cell">09 Oct 2018</td>
      <td class="govuk-table__cell">10 Oct 2023</td>
      <td class="govuk-table__cell">DIVEST</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Windows Server 2016</td>
      <td class="govuk-table__cell">11 Jan 2022</td>
      <td class="govuk-table__cell">12 Jan 2027</td>
      <td class="govuk-table__cell">APPROVED</td>
    </tr>
  </tbody>
</table>

These dates may be subject to change and should be checked at the [Microsoft Lifecycle Policy website](https://support.microsoft.com/en-gb/hub/4095338/microsoft-lifecycle-policy).

## Features

[Vendor information](https://www.microsoft.com/en-gb/cloud-platform/windows-server)

## Contract / MOU

Enterprise License Agreement for on-premise.

## Support

Provided as part of license agreement.
