---
title: Windows Client
description: Windows Client
layout: layout-pane.njk
section: Catalogues
theme: Application platform
aliases: windows, desktop, operating system
---

Microsoft Windows is an operating system produced by Microsoft for use on personal computers, laptops and other end-user devices. Microsoft Windows is an industry standard desktop operating system.

## Status

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">End of life date</th>
      <th scope="col" class="govuk-table__header">End of support date</th>
      <th scope="col" class="govuk-table__header">Decision</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Windows 7</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">14 Jan 2020</td>
      <td class="govuk-table__cell">UNAPPROVED</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Windows 10</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">14 Oct 2025</td>
      <td class="govuk-table__cell">APPROVED</td>
    </tr>
  </tbody>
</table>

These dates may be subject to change and should be checked at the [Microsoft Lifecycle Policy website](https://support.microsoft.com/en-gb/hub/4095338/microsoft-lifecycle-policy).

## Features

[Vendor information](https://www.microsoft.com/en-gb/windows/get-windows-10)

## Contract / MOU

Enterprise License Agreement for on-premise.

## Support

Provided as part of license agreement.
