---
title: Client devices
description: Business capabilities
section: SBBs
theme: Technology Architecture
aliases: Client devices
layout: layout-pane.njk
order: 14
---

Client devices are specified in section 12 of the [DSS Service Catalogue](https://itassist.intranet.net/our-services).
