---
layout: layout-pane.njk
title: Context
description: Context
show_subnav: true
---

The context provides the basis for action. It is what leads us to operate in our current state and/or change towards our future  state.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/stakeholders">Stakeholders</a>
      </td>
      <td class="govuk-table__cell">
        Who or what is causing us to operate and change
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/stakeholders">Locations</a>
      </td>
      <td class="govuk-table__cell">
        Where we operate
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/stakeholders">Mission</a>
      </td>
      <td class="govuk-table__cell">
        Why we exist and what we are here to achieve
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/stakeholders">Vision</a>
      </td>
      <td class="govuk-table__cell">
        Where we would like to be and how we would like to operate
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/drivers">Drivers</a>
      </td>
      <td class="govuk-table__cell">
        What we are responding to when we  change (internal, external and competitive)
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/aims">Aims</a>
      </td>
      <td class="govuk-table__cell">
        What we wish to achieve (goals, objectives, concerns & requirements)
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/plans">Plans</a>
      </td>
      <td class="govuk-table__cell">
        How we wish to achieve it (strategies, programmes, projects, work packages & gaps)
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="/context/definitions">Definitions</a>
      </td>
      <td class="govuk-table__cell">
        The definition of terms used in this architecture
      </td>
    </tr>
  </tbody>
</table>
