---
title: Accessibility
description: accessibility in the GOV.UK Design System
layout: layout-single-page-prose.njk
---

# Accessibility

The GOV.UK Design System website and the codebase it uses, GOV.UK Frontend, is maintained by a team at the Government Digital Service (GDS).

This page explains how the team works to ensure the DSS Architecture Portal is accessible.
