---
title: Accessibility
description: accessibility in the NICS Architecture Portal
layout: layout-single-page-prose.njk
---

# Accessbility statement

This statement applies to content published on the ea.digitalni.gov.uk domain. It does not apply to content on any other digitalni.gov.uk sub-domains.

This website is run by Digital Shared Services. It is designed to be used by as many people as possible. The text should be clear and simple to understand. You should be able to:

- navigate most of the website using just a keyboard
- navigate most of the website using speech recognition software
- use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)

## How accessible this website is

Parts of this website are not fully accessbile. For example:

- documents are in PDF format and are not accessible

## How to request content in an accessible format

If you need information in a different format contact us and tell us:

- the web address (URL) of the content
- your name and email address
- the format you need

## Reporting accessibility problems with this site

If you find any problems that are not listed on this page or you think we're not meeting the accessibility requirements, contact us.

## Enforcement procedure

If you contact us with a complaint and you’re not happy with our response contact the [Equality Advisory and Support Service (EASS)](https://www.equalityadvisoryservice.com/).

The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).

<!-- ## Contacting us or visiting us in person -->

## Technical information about this website's accessibility

Digital Shared Services is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.


This website is partially compliant with the [Web Content Accessibility Guidelines version 2.1](https://www.w3.org/TR/WCAG21/) AA standard.

## Non accessible content

We are currently assessing this content for compliance with the regulations.

<!-- ## Non compliance with the accessibility regulations -->

## Disproportiaonate burden

Not applicable.

<!-- ## Content that's not within the scope of the accessibility regulations -->

<!-- ## How we tested this website -->

<!-- ## What we are going to do to improve accessibility -->
