---
title: Home
description: Design your service using common components, patterns and styles
---

{% include "_masthead.njk" %}
<div class="govuk-width-container app-site-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
        <p class="govuk-body">
          The effectiveness of an organisation is heavily dependent upon the way that it is structured and how the different parts of the organisation operate together.
        </p>
        <p class="govuk-body">
          <span class="govuk-!-font-weight-bold">Enterprise Architecture</span> provides the framework for defining and managing those parts and developing all aspects of the organisation; people, organisation structure, process, information and technology. It enables you to create a blueprint to guide changes to information systems ensuring that they support your business objectives and operational processes.
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <section class="content-section">
          <h2 class="govuk-heading-l content-section__first-heading">Architecture Framework</h2>
          <p class="govuk-body">
          We use <a href="https://www.opengroup.org/togaf">TOGAF &trade;</a> as our Enterprise Architecture methodology and framework. It is the most well known and reliable Enterprise Architecture standard, ensuring consistent standards, methods, and communication among Enterprise Architecture professionals. This framework helps to structure an Architects' thinking by dividing the architecture into domains and provides methods and tools, such as matrices, catalogs and diagrams, for documenting each view. 
        </p>
         <p class="govuk-body govuk-!-margin-bottom-8">
          <a href="/architecture-framework" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
        </p>
        </section>

        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Architecture Content Metamodel</h2>
          <p class="govuk-body">
          The TOGAF Architecture Development Method (ADM) provides a process lifecycle to create and manage architectures within an enterprise. At each phase within the ADM, a discussion of inputs, outputs, and steps describes a number of architectural work products or artifacts, such as process and application. The content metamodel provided here defines a formal structure for these terms to ensure consistency within the ADM and also to provide guidance for organisations that wish to implement their architecture within an architecture tool.
        </p>
         <p class="govuk-body govuk-!-margin-bottom-8">
          <a href="/architecture-content-model" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
        </p>        
        </section>

        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Architecture Reference Library</h2>
          <p class="govuk-body">The Reference Library provides a repository to hold reference materials that should be used to develop architectures. Reference materials held may be obtained from a variety of sources, including Standards bodies, Product and service vendors, Industry communities or forums, Standard templates and Enterprise best practice</p>
         <p class="govuk-body govuk-!-margin-bottom-8">
          <a href="/architecture-reference-library" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
        </p>
        </section>
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Standards Information Base</h2>
          <p class="govuk-body">The Standards Information Base provides a repository area to hold a set of specifications, to which architectures must conform. Establishment of a Standards Information Base provides an unambiguous basis for architectural governance because the standards are easily accessible to projects and therefore the obligations of the project can be understood and planned for, and standards are stated in a clear and unambiguous manner, so that compliance can be objectively assessed.</p>
          <p class="govuk-body govuk-!-margin-bottom-8">
          <a href="/standards-information-base/" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
        </p>
        </section>
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Architecture Capability Framework</h2>
          <p class="govuk-body">In order to successfully operate an architecture function within an enterprise, it is necessary to put in place appropriate organisation structures, processes, roles, responsibilities, and skills to realise the Architecture Capability.</p>
         <p class="govuk-body govuk-!-margin-bottom-8">
          <a href="/architecture-capability-framework" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
        </p>
        </section>
      </div>
      <div class="govuk-grid-column-one-third">
        <aside class="related-items">
          <h2 class="related-items__title">Useful Resources</h2>
          <ul class="related-items__list">
            <li><a class="govuk-link" href="#">TOGAF</a></li>
            <li><a class="govuk-link" href="#">NICS EA Principals</a></li>
            <li><a class="govuk-link" href="#">DSS GitHub</a></li>
          </ul>
        </aside>
      </div>
    </div>

  
  </div>
</div>