---
title: Home
description: Design your service using common components, patterns and styles
---

{% include "_masthead.njk" %}
<div class="govuk-width-container app-site-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
        <p class="govuk-body">
          The effectiveness of an organisation is heavily dependent upon the way that it is structured and how the different parts of the organisation operate together.
        </p>
        <p class="govuk-body">
          <span class="govuk-!-font-weight-bold">Enterprise Architecture</span> provides the framework for defining and managing those parts and developing all aspects of the organisation; people, organisation structure, process, information and technology. It enables you to create a blueprint to guide changes to information systems ensuring that they support your business objectives and operational processes.
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Architecture Principles</h2>
        <p class="govuk-body">
          Principles are basically high-level definitions of fundamental values that guide both business and technology decisions, serving as the basis for architecture development, policies, and standards.
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <h2 class="govuk-heading-l">Architecture Building Blocks</h2>
        <p class="govuk-body">
          Architecture Building Blocks (ABBs) describe the capability/competencies our organisation requires and provide the basis for the specification of Solution Building Blocks (SBBs) that will implement that capability.
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <h2 class="govuk-heading-l">Solution Building Blocks</h2>
        <p class="govuk-body">
          Solution Building Blocks (SBBs) represent components that will be used to implement our required capability/competencies. For example, a network is a building block that can be described and then put to use to realise solutions for the enterprise.
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/directives/principles/" class="govuk-link govuk-!-font-weight-bold">Browse principles</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/abbs/" class="govuk-link govuk-!-font-weight-bold">Browse ABBs</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/sbbs/" class="govuk-link govuk-!-font-weight-bold">Browse SBBs</a>
        </p>
      </div>
    </div>
  </div>
</div>
