---
title: Home
description: Design your service using common components, patterns and styles
---

{% include "_masthead.njk" %}
<div class="govuk-width-container app-site-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
        <p class="govuk-body">
          The effectiveness of an organisation is heavily dependent upon the way that it is structured and how the different parts of the organisation operate together.
        </p>
        <p class="govuk-body">
          <span class="govuk-!-font-weight-bold">Enterprise Architecture</span> provides the framework for defining and managing those parts and developing all aspects of the organisation; people, organisation structure, process, information and technology. It enables you to create a blueprint to guide changes to information systems ensuring that they support your business objectives and operational processes.
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Architecture Framework</h2>
        <p class="govuk-body">
          We use <a href="https://www.opengroup.org/togaf">TOGAF &trade;</a> as our Enterprise Architecture methodology and framework. It is the most well known and reliable Enterprise Architecture standard, ensuring consistent standards, methods, and communication among Enterprise Architecture professionals. This framework helps to structure an Architects' thinking by dividing the architecture into domains and provides methods and tools, such as matrices, catalogs and diagrams, for documenting each view. 
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <h2 class="govuk-heading-l">Building <br/>Blocks</h2>
        <p class="govuk-body">
          Architecture Building Blocks (ABBs) describe the capability/competencies our organisation requires and provide the basis for the specification of Solution Building Blocks (SBBs) that will implement that capability.
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <h2 class="govuk-heading-l">Architecture Reference Library</h2>
        <p class="govuk-body">The Reference Library provides a repository to hold reference materials that should be used to develop architectures. Reference materials held may be obtained from a variety of sources, including Standards bodies, Product and service vendors, Industry communities or forums, Standard templates and Enterprise best practice</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/architecture-framework" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/abbs/" class="govuk-link govuk-!-font-weight-bold">Browse Building Blocks</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/architecture-reference-library" class="govuk-link govuk-!-font-weight-bold">Browse Reference Library</a>
        </p>
      </div>
    </div>
  </div>
</div>

   

  
  </div>
</div>
