---
title: Human Interaction Services
description: Human Interaction Services
section: Catalogues
theme: Application platform
aliases: browser, portal, notifications
layout: layout-pane.njk
order: 34
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Human Interaction Services
---

Human Interaction services provide the means to consistently present data to the end user in the appropriate format. They comprise services that assist in the formulation of customer data requests and enable visualization and presentation of the data accessed.

{% include "_catalogue.njk" %}
