---
title: Software code
description: Software code
section: SBBs
theme: Application Architecture
aliases: Software code
layout: layout-pane.njk
order: 10
---

Software is stored in a number of locations within the NICS:

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Organisation</th>
      <th scope="col" class="govuk-table__header">Locations</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Digital Shared Services</td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://github.com/dof-dss">GitHub</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Digital Shared Services</td>
      <td class="govuk-table__cell">GitLab (on premise)</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Digital Shared Services</td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://nuget.org">Nuget</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Digital Shared Services</td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="https://rubygems.org">RubyGems</a>
      </td>
    </tr>
  </tbody>
</table>
