---
title: Data networks
description: networks
section: Catalogues
theme: Physical infrastructure
aliases: transmission, information, data, location
layout: layout-pane.njk
order: 51
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Networks
---

Data networks comprise the hardware and software necessary to transmit information securely and reliably from one location to another.

{% include "_catalogue.njk" %}
