---
title: Information provider applications
description: Information provider applications
section: Catalogues
theme: Business applications
aliases: service catalogue, drupal, address, gis, map
layout: layout-pane.njk
order: 12
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Information Provider Applications
---

Information Provider Applications provide responses to client requests and rudimentary access to data managed by a particular server.

{% include "_catalogue.njk" %}
