---
title: Business processes
description: Business processes
section: Architecture Building Blocks
theme: Business Architecture
aliases: roles
layout: layout-pane.njk
order: 8
---

List of business processes
