---
title: Information consumer applications
description: Information consumer applications
section: Catalogues
theme: Business applications
aliases: website, portal, tv, intranet, mail, video, citizen, staff
layout: layout-pane.njk
order: 10
catalogue_page: true
catalogue_name: technology_applications_catalogue
catalogue_sub_category: Information Consumer Applications
---

Information Consumer Applications deliver content to the user of the system, and provide services to request access to information in the system on the user’s behalf.

{% include "_catalogue.njk" %}
