---
title: Platform service patterns
description: Platform service patterns
section: ABBs
theme: Technology Architecture
aliases: platform service patterns, iaas, paas, saas
layout: layout-pane.njk
order: 23
---

## Cloud computing

- <a class="govuk-link" href="#iaas">Infrastructure as a Service (IaaS)</a>
- <a class="govuk-link" href="#paas">Plaform as a Service (PaaS)</a>
- <a class="govuk-link" href="#saas">Software as a Service (SaaS)</a>

<h3 id="iaas">Infrastructure as a Service</h3>

<p class="govuk-body">
  The most fundamental layer of cloud computing is Infrastructure as a Service (IaaS); it is sometimes referred to as Hardware as a Service. In this scenario, computing infrastructure (virtualized environment), networking and storage are delivered over the internet. Instead of heavily investing in the purchase of servers, network equipment and datacenter maintenance; an enterprise can simply purchase these services on demand.
</p>

<h3 id="paas">Platform as a Service</h3>

<p class="govuk-body">
  A platform is a software environment used to develop and run applications. So Platform as a Service (PaaS) can be defined as a computing platform that enables the creation, testing and implementation of software easily and quickly without the complexities of buying and maintaining the infrastructure and additional software.  Unlike SaaS which is software delivered via the internet, PaaS provides a platform for creation of applications over the internet. Another difference between PaaS and SaaS is the aspect of management. In PaaS, the vendors manage networking, storage, servers, virtualization, OS, middleware and runtime, but the end users are the ones who manage the data and applications.
</p>

<h3 id="saas">Software as a Service</h3>

<p class="govuk-body">
  Software as a Service (SaaS) is where computing applications are accessed through the internet; this eliminates the need to download, install and run applications on local computers. In most cases, these applications are managed by a third party vendor. The user has to log into an account in order to gain access to the applications interface.
</p>
