---
title: Logical technology components
description: Logical technology components
section: ABBs
theme: Technology Architecture
aliases: business, infrastructure, application, TOGAF, TRM
layout: layout-pane.njk
order: 23
---

The components presented below have been split into 2 categories as per the <a class="govuk-link" href="http://www.opengroup.org/public/arch/p3/trm/trm_dtail.htm">TOGAF Technical Reference Model</a>.

## Business applications

Business applications implement business processes for a particular enterprise or industry. Such applications typically model elements of a an enterprise's domain of activity or business processes.

[View business applications catalogue](/catalogues#business-applications)

## Infrastructure applications

Infrastructure applications provide general-purpose business functionality. Infrastructure applications are normally widely available as off-the-shelf software meaing that it is uneconomic to consider customer implementation.

[View infrastructure applications catalogue](/catalogues#infrastructure-applications)
