---
title: Logical technology components
description: Logical technology components
section: ABBs
theme: Technology Architecture
aliases: business, infrastructure, application, TOGAF, TRM, api, service bus, ftp, mail, rdbms, operating system, web server
layout: layout-pane.njk
order: 21
technology_components_page: true
---

Logical technology components can be thought of as **a class of technology product**. These components can be categorised further using the [TOGAF Integrated Information Infrastructure Reference Model (III-RM)](https://pubs.opengroup.org/architecture/togaf8-doc/arch/chap22.html).

A component provides a portfolio of services.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Logical component</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for entry in entries|sort(false, false, 'component') %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ entry.component }}</td>
      <td class="govuk-table__cell">{{ entry.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
