---
title: Business terms / information
description: Business terms / information
section: Architecture Building Blocks
theme: Business Architecture
aliases: roles
layout: layout-pane.njk
order: 10
---

List of business terms / information
