---
title: Business terms / information
description: Business terms / information
section: ABBs
theme: Business Architecture
aliases: roles
layout: layout-pane.njk
order: 10
business_terms_page: true
---

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Term</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Meaning</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for entry in entries %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ entry.term }}</td>
      <td class="govuk-table__cell">{{ entry.definition }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
