---
title: Definitions
description: Definitions
section: Context
aliases: definition, meaning, term
layout: layout-pane.njk
order: 8
definitions_page: true
---

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Term</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Meaning</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for entry in entries|sort(false, false, 'term') %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ entry.term }}</td>
      <td class="govuk-table__cell">{{ entry.meaning }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
