---
title: Definitions
description: Definitions
section: Context
aliases: definition, meaning, term
layout: layout-pane.njk
order: 8
---

<strong class="govuk-tag">
  DRAFT FOR REVIEW
</strong>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Term</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Meaning</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="architecture">Architecture</td>
      <td class="govuk-table__cell">
        The fundamental concepts or properties of a system in its environment embodied in its elements, relationships, and in the principles of its design and evolution. The structure of components, their inter-relationships, and the principles and guidelines governing their design and evolution over time.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="building-block">Building Block</td>
      <td class="govuk-table__cell">
        A (potentially re-usable) component of enterprise capability that can be combined with other building blocks to deliver architectures and solutions.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="business-capability">Business Capability</td>
      <td class="govuk-table__cell">
        A particular ability that a business may possess or exchange to achieve a specific purpose.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="business-function">Business Function</td>
      <td class="govuk-table__cell">
        Delivers business capabilities closely aligned to an organization, but not necessarily explicitly governed by the organisation.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="business-service">Business Service</td>
      <td class="govuk-table__cell">
        Supports business capabilities through an explicitly defined interface and is explicitly governed by an organisation.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="driver">Driver</td>
      <td class="govuk-table__cell">
        Drivers are pressures that we may need to respond to and these shape our aims and plans.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="enterprise">Enterprise</td>
      <td class="govuk-table__cell">
        The highest level (typically) of description of an organisation and typically covers all missions and functions. An enterprise will often span multiple organisations. The definition of Enterprise here is the Northern Ireland Civil Service (NICS).
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="principle">Principle</td>
      <td class="govuk-table__cell">
        Principles are basically high-level definitions of fundamental values that guide both business and technology decisions, serving as the basis for architecture development, policies, and standards.
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="roadmap">Roadmap</td>
      <td class="govuk-table__cell">
        An abstracted plan for business or technology change, typically operating across multiple disciplines over multiple years.
      </td>
    </tr>
  </tbody>
</table>
